In [1]:
import math
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
import lxml
import re
from random import seed
from collections import Counter
import numpy as np
from sklearn.linear_model import LinearRegression
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import array
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense

C:\Users\MoJo\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.25.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Get Link into DataFrame

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
# URL of the webpage
url = "http://www.alltime-athletics.com/m_400ok.htm"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Parse the HTML content using Beautiful Soup
soup = BeautifulSoup(response.content, "html.parser")

# Use select to find all <pre> elements
pre_elements = soup.select("pre")

In [4]:
# Select the second <pre> element
if len(pre_elements) > 1:
    first_pre_element = pre_elements[0]
    second_pre_element = pre_elements[1]

    # Get the text content of the second <pre> element
    first_pre_text = first_pre_element.get_text()
    second_pre_text = second_pre_element.get_text()

    # Split the text into rows
    rows = first_pre_text.strip().split('\n')
    rows2 = second_pre_text.strip().split('\n')

    # Split rows into columns
    data = [row.split() for row in rows]
    data2 = [row.split() for row in rows2]

    # Create a Pandas DataFrame
    df = pd.DataFrame(data)
    df2 = pd.DataFrame(data2)
    
    print(df)
else:
    print("No second <pre> element found.")

        0      1            2         3        4         5         6   \
0        1  43.03        Wayde       van  Niekerk       RSA  15.07.92
1        2  43.18      Michael   Johnson      USA  13.09.67         1
2        3  43.29        Harry  Reynolds      USA  08.06.64       1rA
3        4  43.39      Michael   Johnson      USA  13.09.67         1
4        5  43.44      Michael   Johnson      USA  13.09.67         1
...    ...    ...          ...       ...      ...       ...       ...
4417  4337  45.20  Christopher    Taylor      JAM  01.10.99       3h3
4418  4337  45.20       Jochem    Dobber      NED  08.07.97         3
4419  4337  45.20        Isaac   Makwala      BOT  24.09.85       2rA
4420  4337  45.20       Vernon   Norwood      USA  10.04.92         4
4421  4337  45.20         Evan    Miller      USA  29.08.00       3rA

             7           8     9        10          11
0             1         Rio    de  Janeiro  14.08.2016
1       Sevilla  26.08.1999  None     None        None
2        Zürich  17.08.1988  None     None        None
3      Göteborg  09.08.1995  None     None        None
4       Atlanta  19.06.1996  None     None        None
...         ...         ...   ...      ...         ...
4417      Tokyo  01.08.2021  None     None        None
4418       Bern  21.08.2021  None     None        None
4419   Lausanne  26.08.2021  None     None        None
4420    Chorzów  06.08.2022  None     None        None
4421  Nashville  03.06.2023  None     None        None

[4422 rows x 12 columns]

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,1,43.03,Wayde,van,Niekerk,RSA,15.07.92,1,Rio,de,Janeiro,14.08.2016
1,2,43.18,Michael,Johnson,USA,13.09.67,1,Sevilla,26.08.1999,None,None,None
2,3,43.29,Harry,Reynolds,USA,08.06.64,1rA,Zürich,17.08.1988,None,None,None
3,4,43.39,Michael,Johnson,USA,13.09.67,1,Göteborg,09.08.1995,None,None,None
4,5,43.44,Michael,Johnson,USA,13.09.67,1,Atlanta,19.06.1996,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
4417,4337,45.20,Christopher,Taylor,JAM,01.10.99,3h3,Tokyo,01.08.2021,None,None,None
4418,4337,45.20,Jochem,Dobber,NED,08.07.97,3,Bern,21.08.2021,None,None,None
4419,4337,45.20,Isaac,Makwala,BOT,24.09.85,2rA,Lausanne,26.08.2021,None,None,None
4420,4337,45.20,Vernon,Norwood,USA,10.04.92,4,Chorzów,06.08.2022,None,None,None
4421,4337,45.20,Evan,Miller,USA,29.08.00,3rA,Nashville,03.06.2023,None,None,None

In [6]:
df2

,0,1,2,3,4,5,6,7,8,9
0,1,44.52,Michael,Norman,USA,03.12.97,1r2,College,Station,10.03.2018
1,2,44.57,Kerron,Clement,USA,31.10.85,1r2,Fayetteville,12.03.2005,None
2,3,44.62,Randolph,Ross,USA,01.01.01,1r2,Birmingham,AL,12.03.2022
3,4,44.63,Michael,Johnson,USA,13.09.67,1,Atlanta,04.03.1995,None
4,5,44.66,Michael,Johnson,USA,13.09.67,1,Atlanta,02.03.1996,None
5,6,44.71,Noah,Williams,USA,01.01.99,1rA,Fayetteville,13.03.2021,None
6,7,44.75,Elija,Godwin,USA,01.07.99,1r2,Fayetteville,25.02.2023,None
7,7,44.75A,Elija,Godwin,USA,01.07.99,1r1,Albuquerque,11.03.2023,None
8,9,44.80,Kirani,James,GRN,01.09.92,1r2,Fayetteville,27.02.2011,None
9,10,44.82,Tyrell,Richard,USA,04.08.97,1r2,Birmingham,AL,09.03.2019
10,11,44.83,Randolph,Ross,USA,01.01.01,1r1,Clemson,11.02.2022,None
11,12,44.85,Fred,Kerley,USA,07.05.95,1,College,Station,11.03.2017
12,13,44.86,Akeem,Bloomfield,JAM,10.11.97,1r1,College,Station,10.03.2018
13,14,44.88,Bralon,Taplin,GRN,08.05.92,1r2,College,Station,03.02.2018
14,15,44.93,LaShawn,Merritt,USA,27.06.86,1,Fayetteville,11.02.2005,None
15,15,44.93A,Ryan,Willie,USA,24.06.02,1r2,Albuquerque,11.03.2023,None
16,17,44.94,Fred,Kerley,USA,07.05.95,1h6,Nashville,25.02.2017,None
17,18,44.97A,Michael,Johnson,USA,13.09.67,1,Reno,01.02.1995,None
18,19,44.99,Randolph,Ross,USA,01.01.01,1rB,Fayetteville,13.03.2021,None
19,20,45.00,Michael,Norman,USA,03.12.97,1r1,Clemson,09.02.2018,None
20,20,45.00,Jereem,Richards,TTO,13.01.94,1,Beograd,19.03.2022,None
21,22,45.02,Danny,Everett,USA,01.11.66,1,Stuttgart,02.02.1992,None
22,22,45.02,Fred,Kerley,USA,07.05.95,1rA,Clemson,10.02.2017,None
23,22,45.02,Akeem,Bloomfield,JAM,10.11.97,1r2,Clemson,09.02.2018,None
24,25,45.03,Torrin,Lawrence,USA,11.04.89,1r2,Fayetteville,12.02.2010,None
25,25,45.03,Deon,Lendore,TTO,28.10.92,1rA,College,Station,01.03.2014
26,25,45.03,Kahmari,Montgomery,USA,16.08.97,2r2,Birmingham,AL,09.03.2019
27,25,45.03,Fred,Kerley,USA,07.05.95,1r2,Fayetteville,24.01.2021,None
28,29,45.04,Champion,Allison,USA,05.11.98,1r2,College,Station,26.02.2022
29,30,45.05,Thomas,Schönlebe,GER,06.08.65,1,Sindelfingen,05.02.1988,None
30,30,45.05,Danny,Everett,USA,01.11.66,1,Stuttgart,04.02.1990,None
31,30,45.05,Alvin,Harrison,USA,20.01.74,1,Atlanta,28.02.1998,None
32,30,45.05,Karsten,Warholm,NOR,28.02.96,1,Glasgow,02.03.2019,None
33,30,45.05,Trevor,Bassitt,USA,26.02.98,2,Beograd,19.03.2022,None
34,30,45.05,Jacory,Patterson,USA,02.02.00,1r1,Fayetteville,25.02.2023,None
35,36,45.08A,Matthew,Moorer,USA,16.02.00,2r1,Albuquerque,11.03.2023,None
36,37,45.09,Chris,Bailey,USA,29.05.00,1r13,Fayetteville,28.01.2023,None
37,38,45.10,Torrin,Lawrence,USA,11.04.89,1r2,Fayetteville,28.02.2010,None
38,38,45.10,Fred,Kerley,USA,07.05.95,1h1,College,Station,10.03.2017
39,40,45.11,Nery,Brenes,CRC,25.09.85,1,Istanbul,10.03.2012,None
40,41,45.13,Chris,Bailey,USA,29.05.00,2r2,Fayetteville,25.02.2023,None
41,42,45.14,Michael,Johnson,USA,13.09.67,1,Birmingham,20.02.1993,None
42,42,45.14,Jacory,Patterson,USA,02.02.00,2rB,Fayetteville,13.03.2021,None
43,44,45.15,Deon,Lendore,TTO,28.10.92,1h1,Fayetteville,23.03.2013,None
44,44,45.15,Ryan,Willie,USA,24.06.02,2r1,Fayetteville,25.02.2023,None
45,46,45.16,My'Lik,Kerley,USA,06.06.96,2r2,College,Station,10.03.2018
46,46,45.16,Wilbert,London,USA,17.08.97,3r2,Birmingham,AL,09.03.2019
47,48,45.17,Michael,Johnson,USA,13.09.67,1,Birmingham,27.02.1994,None
48,48,45.17,Lalonde,Gordon,TTO,25.11.88,1rA,Boston,08.02.2014,None
49,50,45.18,Calvin,Harrison,USA,20.01.74,2,Atlanta,28.02.1998,None
50,50,45.18A,Fred,Kerley,USA,07.05.95,1h2,Albuquerque,17.02.2018,None
51,52,45.19,Kirani,James,GRN,01.09.92,1r2,Fayetteville,11.02.2012,None
52,52,45.19,Bralon,Taplin,GRN,08.05.92,1,Madrid,24.02.2017,None
53,52,45.19,Wilbert,London,USA,17.08.97,1r2,Lubbock,23.02.2019,None
54,55,45.20,Bralon,Taplin,GRN,08.05.92,1rA,College,Station,16.01.2016

In [7]:
df["Athlete"] = df[2].astype(str)+df[3].astype(str)
df

,0,1,2,3,4,5,6,7,8,9,10,11,Athlete
0,1,43.03,Wayde,van,Niekerk,RSA,15.07.92,1,Rio,de,Janeiro,14.08.2016,Waydevan
1,2,43.18,Michael,Johnson,USA,13.09.67,1,Sevilla,26.08.1999,None,None,None,MichaelJohnson
2,3,43.29,Harry,Reynolds,USA,08.06.64,1rA,Zürich,17.08.1988,None,None,None,HarryReynolds
3,4,43.39,Michael,Johnson,USA,13.09.67,1,Göteborg,09.08.1995,None,None,None,MichaelJohnson
4,5,43.44,Michael,Johnson,USA,13.09.67,1,Atlanta,19.06.1996,None,None,None,MichaelJohnson
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4417,4337,45.20,Christopher,Taylor,JAM,01.10.99,3h3,Tokyo,01.08.2021,None,None,None,ChristopherTaylor
4418,4337,45.20,Jochem,Dobber,NED,08.07.97,3,Bern,21.08.2021,None,None,None,JochemDobber
4419,4337,45.20,Isaac,Makwala,BOT,24.09.85,2rA,Lausanne,26.08.2021,None,None,None,IsaacMakwala
4420,4337,45.20,Vernon,Norwood,USA,10.04.92,4,Chorzów,06.08.2022,None,None,None,VernonNorwood
4421,4337,45.20,Evan,Miller,USA,29.08.00,3rA,Nashville,03.06.2023,None,None,None,EvanMiller

In [8]:
WorkingDataSet = df[[0, 1, 'Athlete',4,5,7,8]]
WorkingDataSet

         0      1            Athlete        4         5          7           8
0        1  43.03           Waydevan  Niekerk       RSA          1         Rio
1        2  43.18     MichaelJohnson      USA  13.09.67    Sevilla  26.08.1999
2        3  43.29      HarryReynolds      USA  08.06.64     Zürich  17.08.1988
3        4  43.39     MichaelJohnson      USA  13.09.67   Göteborg  09.08.1995
4        5  43.44     MichaelJohnson      USA  13.09.67    Atlanta  19.06.1996
...    ...    ...                ...      ...       ...        ...         ...
4417  4337  45.20  ChristopherTaylor      JAM  01.10.99      Tokyo  01.08.2021
4418  4337  45.20       JochemDobber      NED  08.07.97       Bern  21.08.2021
4419  4337  45.20       IsaacMakwala      BOT  24.09.85   Lausanne  26.08.2021
4420  4337  45.20      VernonNorwood      USA  10.04.92    Chorzów  06.08.2022
4421  4337  45.20         EvanMiller      USA  29.08.00  Nashville  03.06.2023

[4422 rows x 7 columns]

In [9]:
new_column_names = ['RANKINGS','TIMES','ATHLETE','COUNTRY','BIRTHYEAR','LOCATION','DATEOFRUN']
WorkingDataSet.columns = new_column_names
WorkingDataSet

,RANKINGS,TIMES,ATHLETE,COUNTRY,BIRTHYEAR,LOCATION,DATEOFRUN
0,1,43.03,Waydevan,Niekerk,RSA,1,Rio
1,2,43.18,MichaelJohnson,USA,13.09.67,Sevilla,26.08.1999
2,3,43.29,HarryReynolds,USA,08.06.64,Zürich,17.08.1988
3,4,43.39,MichaelJohnson,USA,13.09.67,Göteborg,09.08.1995
4,5,43.44,MichaelJohnson,USA,13.09.67,Atlanta,19.06.1996
...,...,...,...,...,...,...,...
4417,4337,45.20,ChristopherTaylor,JAM,01.10.99,Tokyo,01.08.2021
4418,4337,45.20,JochemDobber,NED,08.07.97,Bern,21.08.2021
4419,4337,45.20,IsaacMakwala,BOT,24.09.85,Lausanne,26.08.2021
4420,4337,45.20,VernonNorwood,USA,10.04.92,Chorzów,06.08.2022
4421,4337,45.20,EvanMiller,USA,29.08.00,Nashville,03.06.2023

In [10]:
WorkingDataSet.to_csv('ProMens400m.csv', index=False)

In [11]:
df2

,0,1,2,3,4,5,6,7,8,9
0,1,44.52,Michael,Norman,USA,03.12.97,1r2,College,Station,10.03.2018
1,2,44.57,Kerron,Clement,USA,31.10.85,1r2,Fayetteville,12.03.2005,None
2,3,44.62,Randolph,Ross,USA,01.01.01,1r2,Birmingham,AL,12.03.2022
3,4,44.63,Michael,Johnson,USA,13.09.67,1,Atlanta,04.03.1995,None
4,5,44.66,Michael,Johnson,USA,13.09.67,1,Atlanta,02.03.1996,None
5,6,44.71,Noah,Williams,USA,01.01.99,1rA,Fayetteville,13.03.2021,None
6,7,44.75,Elija,Godwin,USA,01.07.99,1r2,Fayetteville,25.02.2023,None
7,7,44.75A,Elija,Godwin,USA,01.07.99,1r1,Albuquerque,11.03.2023,None
8,9,44.80,Kirani,James,GRN,01.09.92,1r2,Fayetteville,27.02.2011,None
9,10,44.82,Tyrell,Richard,USA,04.08.97,1r2,Birmingham,AL,09.03.2019
10,11,44.83,Randolph,Ross,USA,01.01.01,1r1,Clemson,11.02.2022,None
11,12,44.85,Fred,Kerley,USA,07.05.95,1,College,Station,11.03.2017
12,13,44.86,Akeem,Bloomfield,JAM,10.11.97,1r1,College,Station,10.03.2018
13,14,44.88,Bralon,Taplin,GRN,08.05.92,1r2,College,Station,03.02.2018
14,15,44.93,LaShawn,Merritt,USA,27.06.86,1,Fayetteville,11.02.2005,None
15,15,44.93A,Ryan,Willie,USA,24.06.02,1r2,Albuquerque,11.03.2023,None
16,17,44.94,Fred,Kerley,USA,07.05.95,1h6,Nashville,25.02.2017,None
17,18,44.97A,Michael,Johnson,USA,13.09.67,1,Reno,01.02.1995,None
18,19,44.99,Randolph,Ross,USA,01.01.01,1rB,Fayetteville,13.03.2021,None
19,20,45.00,Michael,Norman,USA,03.12.97,1r1,Clemson,09.02.2018,None
20,20,45.00,Jereem,Richards,TTO,13.01.94,1,Beograd,19.03.2022,None
21,22,45.02,Danny,Everett,USA,01.11.66,1,Stuttgart,02.02.1992,None
22,22,45.02,Fred,Kerley,USA,07.05.95,1rA,Clemson,10.02.2017,None
23,22,45.02,Akeem,Bloomfield,JAM,10.11.97,1r2,Clemson,09.02.2018,None
24,25,45.03,Torrin,Lawrence,USA,11.04.89,1r2,Fayetteville,12.02.2010,None
25,25,45.03,Deon,Lendore,TTO,28.10.92,1rA,College,Station,01.03.2014
26,25,45.03,Kahmari,Montgomery,USA,16.08.97,2r2,Birmingham,AL,09.03.2019
27,25,45.03,Fred,Kerley,USA,07.05.95,1r2,Fayetteville,24.01.2021,None
28,29,45.04,Champion,Allison,USA,05.11.98,1r2,College,Station,26.02.2022
29,30,45.05,Thomas,Schönlebe,GER,06.08.65,1,Sindelfingen,05.02.1988,None
30,30,45.05,Danny,Everett,USA,01.11.66,1,Stuttgart,04.02.1990,None
31,30,45.05,Alvin,Harrison,USA,20.01.74,1,Atlanta,28.02.1998,None
32,30,45.05,Karsten,Warholm,NOR,28.02.96,1,Glasgow,02.03.2019,None
33,30,45.05,Trevor,Bassitt,USA,26.02.98,2,Beograd,19.03.2022,None
34,30,45.05,Jacory,Patterson,USA,02.02.00,1r1,Fayetteville,25.02.2023,None
35,36,45.08A,Matthew,Moorer,USA,16.02.00,2r1,Albuquerque,11.03.2023,None
36,37,45.09,Chris,Bailey,USA,29.05.00,1r13,Fayetteville,28.01.2023,None
37,38,45.10,Torrin,Lawrence,USA,11.04.89,1r2,Fayetteville,28.02.2010,None
38,38,45.10,Fred,Kerley,USA,07.05.95,1h1,College,Station,10.03.2017
39,40,45.11,Nery,Brenes,CRC,25.09.85,1,Istanbul,10.03.2012,None
40,41,45.13,Chris,Bailey,USA,29.05.00,2r2,Fayetteville,25.02.2023,None
41,42,45.14,Michael,Johnson,USA,13.09.67,1,Birmingham,20.02.1993,None
42,42,45.14,Jacory,Patterson,USA,02.02.00,2rB,Fayetteville,13.03.2021,None
43,44,45.15,Deon,Lendore,TTO,28.10.92,1h1,Fayetteville,23.03.2013,None
44,44,45.15,Ryan,Willie,USA,24.06.02,2r1,Fayetteville,25.02.2023,None
45,46,45.16,My'Lik,Kerley,USA,06.06.96,2r2,College,Station,10.03.2018
46,46,45.16,Wilbert,London,USA,17.08.97,3r2,Birmingham,AL,09.03.2019
47,48,45.17,Michael,Johnson,USA,13.09.67,1,Birmingham,27.02.1994,None
48,48,45.17,Lalonde,Gordon,TTO,25.11.88,1rA,Boston,08.02.2014,None
49,50,45.18,Calvin,Harrison,USA,20.01.74,2,Atlanta,28.02.1998,None
50,50,45.18A,Fred,Kerley,USA,07.05.95,1h2,Albuquerque,17.02.2018,None
51,52,45.19,Kirani,James,GRN,01.09.92,1r2,Fayetteville,11.02.2012,None
52,52,45.19,Bralon,Taplin,GRN,08.05.92,1,Madrid,24.02.2017,None
53,52,45.19,Wilbert,London,USA,17.08.97,1r2,Lubbock,23.02.2019,None
54,55,45.20,Bralon,Taplin,GRN,08.05.92,1rA,College,Station,16.01.2016

In [12]:
df2["Athlete"] = df[2].astype(str)+df[3].astype(str)

In [13]:
df2

,0,1,2,3,4,5,6,7,8,9,Athlete
0,1,44.52,Michael,Norman,USA,03.12.97,1r2,College,Station,10.03.2018,Waydevan
1,2,44.57,Kerron,Clement,USA,31.10.85,1r2,Fayetteville,12.03.2005,None,MichaelJohnson
2,3,44.62,Randolph,Ross,USA,01.01.01,1r2,Birmingham,AL,12.03.2022,HarryReynolds
3,4,44.63,Michael,Johnson,USA,13.09.67,1,Atlanta,04.03.1995,None,MichaelJohnson
4,5,44.66,Michael,Johnson,USA,13.09.67,1,Atlanta,02.03.1996,None,MichaelJohnson
5,6,44.71,Noah,Williams,USA,01.01.99,1rA,Fayetteville,13.03.2021,None,JeremyWariner
6,7,44.75,Elija,Godwin,USA,01.07.99,1r2,Fayetteville,25.02.2023,None,MichaelNorman
7,7,44.75A,Elija,Godwin,USA,01.07.99,1r1,Albuquerque,11.03.2023,None,Waydevan
8,9,44.80,Kirani,James,GRN,01.09.92,1r2,Fayetteville,27.02.2011,None,StevenGardiner
9,10,44.82,Tyrell,Richard,USA,04.08.97,1r2,Birmingham,AL,09.03.2019,MichaelJohnson
10,11,44.83,Randolph,Ross,USA,01.01.01,1r1,Clemson,11.02.2022,None,QuincyWatts
11,12,44.85,Fred,Kerley,USA,07.05.95,1,College,Station,11.03.2017,JeremyWariner
12,13,44.86,Akeem,Bloomfield,JAM,10.11.97,1r1,College,Station,10.03.2018,MichaelNorman
13,14,44.88,Bralon,Taplin,GRN,08.05.92,1r2,College,Station,03.02.2018,MichaelNorman
14,15,44.93,LaShawn,Merritt,USA,27.06.86,1,Fayetteville,11.02.2005,None,MichaelNorman
15,15,44.93A,Ryan,Willie,USA,24.06.02,1r2,Albuquerque,11.03.2023,None,JeremyWariner
16,17,44.94,Fred,Kerley,USA,07.05.95,1h6,Nashville,25.02.2017,None,Waydevan
17,18,44.97A,Michael,Johnson,USA,13.09.67,1,Reno,01.02.1995,None,FredKerley
18,19,44.99,Randolph,Ross,USA,01.01.01,1rB,Fayetteville,13.03.2021,None,MichaelJohnson
19,20,45.00,Michael,Norman,USA,03.12.97,1r1,Clemson,09.02.2018,None,LaShawnMerritt
20,20,45.00,Jereem,Richards,TTO,13.01.94,1,Beograd,19.03.2022,None,MichaelJohnson
21,22,45.02,Danny,Everett,USA,01.11.66,1,Stuttgart,02.02.1992,None,MichaelJohnson
22,22,45.02,Fred,Kerley,USA,07.05.95,1rA,Clemson,10.02.2017,None,MichaelJohnson
23,22,45.02,Akeem,Bloomfield,JAM,10.11.97,1r2,Clemson,09.02.2018,None,MichaelJohnson
24,25,45.03,Torrin,Lawrence,USA,11.04.89,1r2,Fayetteville,12.02.2010,None,FredKerley
25,25,45.03,Deon,Lendore,TTO,28.10.92,1rA,College,Station,01.03.2014,ChampionAllison
26,25,45.03,Kahmari,Montgomery,USA,16.08.97,2r2,Birmingham,AL,09.03.2019,QuincyWatts
27,25,45.03,Fred,Kerley,USA,07.05.95,1r2,Fayetteville,24.01.2021,None,IsaacMakwala
28,29,45.04,Champion,Allison,USA,05.11.98,1r2,College,Station,26.02.2022,Waydevan
29,30,45.05,Thomas,Schönlebe,GER,06.08.65,1,Sindelfingen,05.02.1988,None,MichaelJohnson
30,30,45.05,Danny,Everett,USA,01.11.66,1,Stuttgart,04.02.1990,None,LaShawnMerritt
31,30,45.05,Alvin,Harrison,USA,20.01.74,1,Atlanta,28.02.1998,None,KiraniJames
32,30,45.05,Karsten,Warholm,NOR,28.02.96,1,Glasgow,02.03.2019,None,StevenGardiner
33,30,45.05,Trevor,Bassitt,USA,26.02.98,2,Beograd,19.03.2022,None,MichaelJohnson
34,30,45.05,Jacory,Patterson,USA,02.02.00,1r1,Fayetteville,25.02.2023,None,LaShawnMerritt
35,36,45.08A,Matthew,Moorer,USA,16.02.00,2r1,Albuquerque,11.03.2023,None,MichaelJohnson
36,37,45.09,Chris,Bailey,USA,29.05.00,1r13,Fayetteville,28.01.2023,None,KiraniJames
37,38,45.10,Torrin,Lawrence,USA,11.04.89,1r2,Fayetteville,28.02.2010,None,KiraniJames
38,38,45.10,Fred,Kerley,USA,07.05.95,1h1,College,Station,10.03.2017,MichaelNorman
39,40,45.11,Nery,Brenes,CRC,25.09.85,1,Istanbul,10.03.2012,None,DannyEverett
40,41,45.13,Chris,Bailey,USA,29.05.00,2r2,Fayetteville,25.02.2023,None,JeremyWariner
41,42,45.14,Michael,Johnson,USA,13.09.67,1,Birmingham,20.02.1993,None,QuincyWatts
42,42,45.14,Jacory,Patterson,USA,02.02.00,2rB,Fayetteville,13.03.2021,None,MichaelJohnson
43,44,45.15,Deon,Lendore,TTO,28.10.92,1h1,Fayetteville,23.03.2013,None,IsaacMakwala
44,44,45.15,Ryan,Willie,USA,24.06.02,2r1,Fayetteville,25.02.2023,None,LaShawnMerritt
45,46,45.16,My'Lik,Kerley,USA,06.06.96,2r2,College,Station,10.03.2018,RandolphRoss
46,46,45.16,Wilbert,London,USA,17.08.97,3r2,Birmingham,AL,09.03.2019,StevenGardiner
47,48,45.17,Michael,Johnson,USA,13.09.67,1,Birmingham,27.02.1994,None,LeeEvans
48,48,45.17,Lalonde,Gordon,TTO,25.11.88,1rA,Boston,08.02.2014,None,MichaelJohnson
49,50,45.18,Calvin,Harrison,USA,20.01.74,2,Atlanta,28.02.1998,None,JeremyWariner
50,50,45.18A,Fred,Kerley,USA,07.05.95,1h2,Albuquerque,17.02.2018,None,SteveLewis
51,52,45.19,Kirani,James,GRN,01.09.92,1r2,Fayetteville,11.02.2012,None,StevenGardiner
52,52,45.19,Bralon,Taplin,GRN,08.05.92,1,Madrid,24.02.2017,None,MichaelJohnson
53,52,45.19,Wilbert,London,USA,17.08.97,1r2,Lubbock,23.02.2019,None,KiraniJames
54,55,45.20,Bralon,Taplin,GRN,08.05.92,1rA,College,Station,16.01.2016,StevenGardiner

In [14]:
WorkingDataSet = df2[[0, 1, 'Athlete',4,5,7,8]]
WorkingDataSet

     0       1          Athlete    4         5             7           8
0    1   44.52         Waydevan  USA  03.12.97       College     Station
1    2   44.57   MichaelJohnson  USA  31.10.85  Fayetteville  12.03.2005
2    3   44.62    HarryReynolds  USA  01.01.01    Birmingham          AL
3    4   44.63   MichaelJohnson  USA  13.09.67       Atlanta  04.03.1995
4    5   44.66   MichaelJohnson  USA  13.09.67       Atlanta  02.03.1996
5    6   44.71    JeremyWariner  USA  01.01.99  Fayetteville  13.03.2021
6    7   44.75    MichaelNorman  USA  01.07.99  Fayetteville  25.02.2023
7    7  44.75A         Waydevan  USA  01.07.99   Albuquerque  11.03.2023
8    9   44.80   StevenGardiner  GRN  01.09.92  Fayetteville  27.02.2011
9   10   44.82   MichaelJohnson  USA  04.08.97    Birmingham          AL
10  11   44.83      QuincyWatts  USA  01.01.01       Clemson  11.02.2022
11  12   44.85    JeremyWariner  USA  07.05.95       College     Station
12  13   44.86    MichaelNorman  JAM  10.11.97       College     Station
13  14   44.88    MichaelNorman  GRN  08.05.92       College     Station
14  15   44.93    MichaelNorman  USA  27.06.86  Fayetteville  11.02.2005
15  15  44.93A    JeremyWariner  USA  24.06.02   Albuquerque  11.03.2023
16  17   44.94         Waydevan  USA  07.05.95     Nashville  25.02.2017
17  18  44.97A       FredKerley  USA  13.09.67          Reno  01.02.1995
18  19   44.99   MichaelJohnson  USA  01.01.01  Fayetteville  13.03.2021
19  20   45.00   LaShawnMerritt  USA  03.12.97       Clemson  09.02.2018
20  20   45.00   MichaelJohnson  TTO  13.01.94       Beograd  19.03.2022
21  22   45.02   MichaelJohnson  USA  01.11.66     Stuttgart  02.02.1992
22  22   45.02   MichaelJohnson  USA  07.05.95       Clemson  10.02.2017
23  22   45.02   MichaelJohnson  JAM  10.11.97       Clemson  09.02.2018
24  25   45.03       FredKerley  USA  11.04.89  Fayetteville  12.02.2010
25  25   45.03  ChampionAllison  TTO  28.10.92       College     Station
26  25   45.03      QuincyWatts  USA  16.08.97    Birmingham          AL
27  25   45.03     IsaacMakwala  USA  07.05.95  Fayetteville  24.01.2021
28  29   45.04         Waydevan  USA  05.11.98       College     Station
29  30   45.05   MichaelJohnson  GER  06.08.65  Sindelfingen  05.02.1988
30  30   45.05   LaShawnMerritt  USA  01.11.66     Stuttgart  04.02.1990
31  30   45.05      KiraniJames  USA  20.01.74       Atlanta  28.02.1998
32  30   45.05   StevenGardiner  NOR  28.02.96       Glasgow  02.03.2019
33  30   45.05   MichaelJohnson  USA  26.02.98       Beograd  19.03.2022
34  30   45.05   LaShawnMerritt  USA  02.02.00  Fayetteville  25.02.2023
35  36  45.08A   MichaelJohnson  USA  16.02.00   Albuquerque  11.03.2023
36  37   45.09      KiraniJames  USA  29.05.00  Fayetteville  28.01.2023
37  38   45.10      KiraniJames  USA  11.04.89  Fayetteville  28.02.2010
38  38   45.10    MichaelNorman  USA  07.05.95       College     Station
39  40   45.11     DannyEverett  CRC  25.09.85      Istanbul  10.03.2012
40  41   45.13    JeremyWariner  USA  29.05.00  Fayetteville  25.02.2023
41  42   45.14      QuincyWatts  USA  13.09.67    Birmingham  20.02.1993
42  42   45.14   MichaelJohnson  USA  02.02.00  Fayetteville  13.03.2021
43  44   45.15     IsaacMakwala  TTO  28.10.92  Fayetteville  23.03.2013
44  44   45.15   LaShawnMerritt  USA  24.06.02  Fayetteville  25.02.2023
45  46   45.16     RandolphRoss  USA  06.06.96       College     Station
46  46   45.16   StevenGardiner  USA  17.08.97    Birmingham          AL
47  48   45.17         LeeEvans  USA  13.09.67    Birmingham  27.02.1994
48  48   45.17   MichaelJohnson  TTO  25.11.88        Boston  08.02.2014
49  50   45.18    JeremyWariner  USA  20.01.74       Atlanta  28.02.1998
50  50  45.18A       SteveLewis  USA  07.05.95   Albuquerque  17.02.2018
51  52   45.19   StevenGardiner  GRN  01.09.92  Fayetteville  11.02.2012
52  52   45.19   MichaelJohnson  GRN  08.05.92        Madrid  24.02.2017
53  52   45.19      KiraniJames  USA  17.08.97       Lubbock  23.02.2019
54  55   45.20   StevenGardiner  GRN  08.05.92       College     Station

In [15]:
new_column_names = ['RANKINGS','TIMES','ATHLETE','COUNTRY','BIRTHYEAR','LOCATION','DATEOFRUN']
WorkingDataSet.columns = new_column_names
WorkingDataSet

,RANKINGS,TIMES,ATHLETE,COUNTRY,BIRTHYEAR,LOCATION,DATEOFRUN
0,1,44.52,Waydevan,USA,03.12.97,College,Station
1,2,44.57,MichaelJohnson,USA,31.10.85,Fayetteville,12.03.2005
2,3,44.62,HarryReynolds,USA,01.01.01,Birmingham,AL
3,4,44.63,MichaelJohnson,USA,13.09.67,Atlanta,04.03.1995
4,5,44.66,MichaelJohnson,USA,13.09.67,Atlanta,02.03.1996
5,6,44.71,JeremyWariner,USA,01.01.99,Fayetteville,13.03.2021
6,7,44.75,MichaelNorman,USA,01.07.99,Fayetteville,25.02.2023
7,7,44.75A,Waydevan,USA,01.07.99,Albuquerque,11.03.2023
8,9,44.80,StevenGardiner,GRN,01.09.92,Fayetteville,27.02.2011
9,10,44.82,MichaelJohnson,USA,04.08.97,Birmingham,AL
10,11,44.83,QuincyWatts,USA,01.01.01,Clemson,11.02.2022
11,12,44.85,JeremyWariner,USA,07.05.95,College,Station
12,13,44.86,MichaelNorman,JAM,10.11.97,College,Station
13,14,44.88,MichaelNorman,GRN,08.05.92,College,Station
14,15,44.93,MichaelNorman,USA,27.06.86,Fayetteville,11.02.2005
15,15,44.93A,JeremyWariner,USA,24.06.02,Albuquerque,11.03.2023
16,17,44.94,Waydevan,USA,07.05.95,Nashville,25.02.2017
17,18,44.97A,FredKerley,USA,13.09.67,Reno,01.02.1995
18,19,44.99,MichaelJohnson,USA,01.01.01,Fayetteville,13.03.2021
19,20,45.00,LaShawnMerritt,USA,03.12.97,Clemson,09.02.2018
20,20,45.00,MichaelJohnson,TTO,13.01.94,Beograd,19.03.2022
21,22,45.02,MichaelJohnson,USA,01.11.66,Stuttgart,02.02.1992
22,22,45.02,MichaelJohnson,USA,07.05.95,Clemson,10.02.2017
23,22,45.02,MichaelJohnson,JAM,10.11.97,Clemson,09.02.2018
24,25,45.03,FredKerley,USA,11.04.89,Fayetteville,12.02.2010
25,25,45.03,ChampionAllison,TTO,28.10.92,College,Station
26,25,45.03,QuincyWatts,USA,16.08.97,Birmingham,AL
27,25,45.03,IsaacMakwala,USA,07.05.95,Fayetteville,24.01.2021
28,29,45.04,Waydevan,USA,05.11.98,College,Station
29,30,45.05,MichaelJohnson,GER,06.08.65,Sindelfingen,05.02.1988
30,30,45.05,LaShawnMerritt,USA,01.11.66,Stuttgart,04.02.1990
31,30,45.05,KiraniJames,USA,20.01.74,Atlanta,28.02.1998
32,30,45.05,StevenGardiner,NOR,28.02.96,Glasgow,02.03.2019
33,30,45.05,MichaelJohnson,USA,26.02.98,Beograd,19.03.2022
34,30,45.05,LaShawnMerritt,USA,02.02.00,Fayetteville,25.02.2023
35,36,45.08A,MichaelJohnson,USA,16.02.00,Albuquerque,11.03.2023
36,37,45.09,KiraniJames,USA,29.05.00,Fayetteville,28.01.2023
37,38,45.10,KiraniJames,USA,11.04.89,Fayetteville,28.02.2010
38,38,45.10,MichaelNorman,USA,07.05.95,College,Station
39,40,45.11,DannyEverett,CRC,25.09.85,Istanbul,10.03.2012
40,41,45.13,JeremyWariner,USA,29.05.00,Fayetteville,25.02.2023
41,42,45.14,QuincyWatts,USA,13.09.67,Birmingham,20.02.1993
42,42,45.14,MichaelJohnson,USA,02.02.00,Fayetteville,13.03.2021
43,44,45.15,IsaacMakwala,TTO,28.10.92,Fayetteville,23.03.2013
44,44,45.15,LaShawnMerritt,USA,24.06.02,Fayetteville,25.02.2023
45,46,45.16,RandolphRoss,USA,06.06.96,College,Station
46,46,45.16,StevenGardiner,USA,17.08.97,Birmingham,AL
47,48,45.17,LeeEvans,USA,13.09.67,Birmingham,27.02.1994
48,48,45.17,MichaelJohnson,TTO,25.11.88,Boston,08.02.2014
49,50,45.18,JeremyWariner,USA,20.01.74,Atlanta,28.02.1998
50,50,45.18A,SteveLewis,USA,07.05.95,Albuquerque,17.02.2018
51,52,45.19,StevenGardiner,GRN,01.09.92,Fayetteville,11.02.2012
52,52,45.19,MichaelJohnson,GRN,08.05.92,Madrid,24.02.2017
53,52,45.19,KiraniJames,USA,17.08.97,Lubbock,23.02.2019
54,55,45.20,StevenGardiner,GRN,08.05.92,College,Station

In [16]:
WorkingDataSet.to_csv('ProIndoorMens400m.csv', index=False)