In [1]:
import math
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import requests
import numpy as np
import lxml
import re
from random import seed
from collections import Counter
import numpy as np
from sklearn.linear_model import LinearRegression
from datetime import datetime
import pandas as pd
import matplotlib.pyplot as plt
import array
from sklearn.model_selection import train_test_split

C:\Users\MoJo\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.25.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

# Get Link into DataFrame

In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
# URL of the webpage
url = "http://www.alltime-athletics.com/m4x400ok.htm"

# Send an HTTP GET request to the URL
response = requests.get(url)

# Parse the HTML content using Beautiful Soup
soup = BeautifulSoup(response.content, "html.parser")

# Use select to find all <pre> elements
pre_elements = soup.select("pre")

In [4]:
# Select the second <pre> element
if len(pre_elements) > 1:
    first_pre_element = pre_elements[0]
    second_pre_element = pre_elements[1]

    # Get the text content of the second <pre> element
    first_pre_text = first_pre_element.get_text()
    second_pre_text = second_pre_element.get_text()

    # Split the text into rows
    rows = first_pre_text.strip().split('\n')
    rows2 = second_pre_text.strip().split('\n')

    # Split rows into columns
    data = [row.split() for row in rows]
    data2 = [row.split() for row in rows2]

    # Create a Pandas DataFrame
    df = pd.DataFrame(data)
    df2 = pd.DataFrame(data2)
    
    print(df)
else:
    print("No second <pre> element found.")

           0           1         2         3     4          5           6   \
0           1     2:54.29    United    States     1  Stuttgart  22.08.1993
1        None        None      None      None  None       None        None
2      Andrew      Valmon    (44.5)  01.01.65   USA       None        None
3      Quincy       Watts    (43.6)  19.06.70   USA       None        None
4       Harry    Reynolds   (43.23)  08.06.64   USA       None        None
...       ...         ...       ...       ...   ...        ...         ...
15618    None        None      None      None  None       None        None
15619   Bryce       Brown  17.09.88       USA  None       None        None
15620   Shane  Brathwaite  08.02.90       BAR  None       None        None
15621  Jamele       Mason  19.10.89       PUR  None       None        None
15622     Gil     Roberts  15.03.89       USA  None       None        None

         7     8     9     10
0      None  None  None  None
1      None  None  None  None
2      None  None  None  None
3      None  None  None  None
4      None  None  None  None
...     ...   ...   ...   ...
15618  None  None  None  None
15619  None  None  None  None
15620  None  None  None  None
15621  None  None  None  None
15622  None  None  None  None

[15623 rows x 11 columns]

In [5]:
df

,0,1,2,3,4,5,6,7,8,9,10
0,1,2:54.29,United,States,1,Stuttgart,22.08.1993,None,None,None,None
1,None,None,None,None,None,None,None,None,None,None,None
2,Andrew,Valmon,(44.5),01.01.65,USA,None,None,None,None,None,None
3,Quincy,Watts,(43.6),19.06.70,USA,None,None,None,None,None,None
4,Harry,Reynolds,(43.23),08.06.64,USA,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
15618,None,None,None,None,None,None,None,None,None,None,None
15619,Bryce,Brown,17.09.88,USA,None,None,None,None,None,None,None
15620,Shane,Brathwaite,08.02.90,BAR,None,None,None,None,None,None,None
15621,Jamele,Mason,19.10.89,PUR,None,None,None,None,None,None,None
15622,Gil,Roberts,15.03.89,USA,None,None,None,None,None,None,None

In [6]:
df2

,0,1,2,3,4,5,6,7,8,9
0,1,3:00.77,University,of,Southern,California,1r4,College,Station,10.03.2018
1,None,None,None,None,None,None,None,None,None,None
2,Zachary,Shinnick,(46.24),08.02.98,USA,None,None,None,None,None
3,Rai,Benjamin,(44.35),27.07.97,ANT,None,None,None,None,None
4,Ricky,Morgon,(45.67),07.01.96,USA,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
393,None,None,None,None,None,None,None,None,None,None
394,Kunle,Fasasi,23.06.96,NGR,None,None,None,None,None,None
395,Grant,Holloway,19.11.97,USA,None,None,None,None,None,None
396,Chantz,Sawyers,06.06.99,JAM,None,None,None,None,None,None
397,Benjamin,Lobo,Vedel,23.09.97,DEN,None,None,None,None,None

In [7]:
df = df.iloc[::7]
df

,0,1,2,3,4,5,6,7,8,9,10
0,1,2:54.29,United,States,1,Stuttgart,22.08.1993,None,None,None,None
7,2,2:55.39,United,States,1,Beijing,23.08.2008,None,None,None,None
14,3,2:55.56,United,States,1,Osaka,02.09.2007,None,None,None,None
21,4,2:55.70,United,States,1,Tokyo,07.08.2021,None,None,None,None
28,5,2:55.74,United,States,1,Barcelona,08.08.1992,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...
15589,2223,3:03.49,Poland,2h1,Göteborg,12.08.2006,None,None,None,None,None
15596,2223,3:03.49,Mississippi,State,University,4,Sacramento,09.06.2007,None,None,None
15603,2223,3:03.49,Germany,4h2,Beijing,22.08.2008,None,None,None,None,None
15610,2223,3:03.49,Belgium,1h2,Barcelona,31.07.2010,None,None,None,None,None
15617,2223,3:03.49,Texas,Tech,University,3,Norman,15.05.2011,None,None,None

In [8]:
df["Team"] = df[2].astype(str)+df[3].astype(str)
df

C:\Users\MoJo\AppData\Local\Temp\ipykernel_2344\1659033099.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Team"] = df[2].astype(str)+df[3].astype(str)

,0,1,2,3,4,5,6,7,8,9,10,Team
0,1,2:54.29,United,States,1,Stuttgart,22.08.1993,None,None,None,None,UnitedStates
7,2,2:55.39,United,States,1,Beijing,23.08.2008,None,None,None,None,UnitedStates
14,3,2:55.56,United,States,1,Osaka,02.09.2007,None,None,None,None,UnitedStates
21,4,2:55.70,United,States,1,Tokyo,07.08.2021,None,None,None,None,UnitedStates
28,5,2:55.74,United,States,1,Barcelona,08.08.1992,None,None,None,None,UnitedStates
...,...,...,...,...,...,...,...,...,...,...,...,...
15589,2223,3:03.49,Poland,2h1,Göteborg,12.08.2006,None,None,None,None,None,Poland2h1
15596,2223,3:03.49,Mississippi,State,University,4,Sacramento,09.06.2007,None,None,None,MississippiState
15603,2223,3:03.49,Germany,4h2,Beijing,22.08.2008,None,None,None,None,None,Germany4h2
15610,2223,3:03.49,Belgium,1h2,Barcelona,31.07.2010,None,None,None,None,None,Belgium1h2
15617,2223,3:03.49,Texas,Tech,University,3,Norman,15.05.2011,None,None,None,TexasTech

In [9]:
WorkingDataSet = df[[0, 1, 'Team',5,6]]
WorkingDataSet

          0        1              Team           5           6
0         1  2:54.29      UnitedStates   Stuttgart  22.08.1993
7         2  2:55.39      UnitedStates     Beijing  23.08.2008
14        3  2:55.56      UnitedStates       Osaka  02.09.2007
21        4  2:55.70      UnitedStates       Tokyo  07.08.2021
28        5  2:55.74      UnitedStates   Barcelona  08.08.1992
...     ...      ...               ...         ...         ...
15589  2223  3:03.49         Poland2h1  12.08.2006        None
15596  2223  3:03.49  MississippiState           4  Sacramento
15603  2223  3:03.49        Germany4h2  22.08.2008        None
15610  2223  3:03.49        Belgium1h2  31.07.2010        None
15617  2223  3:03.49         TexasTech           3      Norman

[2232 rows x 5 columns]

In [10]:
new_column_names = ['RANKINGS','TIMES','TEAM','LOCATION','DATEOFRUN']
WorkingDataSet.columns = new_column_names
WorkingDataSet

      RANKINGS    TIMES              TEAM    LOCATION   DATEOFRUN
0            1  2:54.29      UnitedStates   Stuttgart  22.08.1993
7            2  2:55.39      UnitedStates     Beijing  23.08.2008
14           3  2:55.56      UnitedStates       Osaka  02.09.2007
21           4  2:55.70      UnitedStates       Tokyo  07.08.2021
28           5  2:55.74      UnitedStates   Barcelona  08.08.1992
...        ...      ...               ...         ...         ...
15589     2223  3:03.49         Poland2h1  12.08.2006        None
15596     2223  3:03.49  MississippiState           4  Sacramento
15603     2223  3:03.49        Germany4h2  22.08.2008        None
15610     2223  3:03.49        Belgium1h2  31.07.2010        None
15617     2223  3:03.49         TexasTech           3      Norman

[2232 rows x 5 columns]

In [11]:
WorkingDataSet.to_csv('ProMens4x400m.csv', index=False)

In [12]:
df2

,0,1,2,3,4,5,6,7,8,9
0,1,3:00.77,University,of,Southern,California,1r4,College,Station,10.03.2018
1,None,None,None,None,None,None,None,None,None,None
2,Zachary,Shinnick,(46.24),08.02.98,USA,None,None,None,None,None
3,Rai,Benjamin,(44.35),27.07.97,ANT,None,None,None,None,None
4,Ricky,Morgon,(45.67),07.01.96,USA,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...
393,None,None,None,None,None,None,None,None,None,None
394,Kunle,Fasasi,23.06.96,NGR,None,None,None,None,None,None
395,Grant,Holloway,19.11.97,USA,None,None,None,None,None,None
396,Chantz,Sawyers,06.06.99,JAM,None,None,None,None,None,None
397,Benjamin,Lobo,Vedel,23.09.97,DEN,None,None,None,None,None

In [13]:
df2 = df2.iloc[::7]
df2

,0,1,2,3,4,5,6,7,8,9
0,1,3:00.77,University,of,Southern,California,1r4,College,Station,10.03.2018
7,2,3:01.09A,University,of,Arkansas,1r1,Albuquerque,04.02.2023,None,None
14,3,3:01.39,Texas,A&M,University,2r4,College,Station,10.03.2018,None
21,4,3:01.43,University,of,Florida,3r4,College,Station,10.03.2018,None
28,5,3:01.51,University,of,Houston,1r1,Clemson,09.02.2019,None,None
35,6,3:01.56,Texas,A&M,University,2r1,Clemson,09.02.2019,None,None
42,7,3:01.77,Poland,1,Birmingham,04.03.2018,None,None,None,None
49,8,3:01.78,University,of,Alabama,1r2,Fayetteville,25.02.2023,None,None
56,9,3:01.96,United,States,1,Fayetteville,11.02.2006,None,None,None
63,10,3:01.97,United,States,2,Birmingham,04.03.2018,None,None,None
70,11,3:01.98,University,of,Southern,California,1r1,Clemson,10.02.2018,None
77,12,3:02.09,University,of,Florida,-,A,1r4,Fayetteville,12.02.2022
84,12,3:02.09A,University,of,Arkansas,1r3,Albuquerque,11.03.2023,None,None
91,14,3:02.13,United,States,1,Sopot,09.03.2014,None,None,None
98,15,3:02.18,University,of,Florida,1r6,Fayetteville,11.02.2023,None,None
105,16,3:02.23,University,of,Florida,2r1,Clemson,10.02.2018,None,None
112,17,3:02.35,Texas,A&M,University,1r3,College,Station,25.02.2018,None
119,18,3:02.40,University,of,Iowa,-,A,2r4,Fayetteville,12.02.2022
126,19,3:02.45,United,States,1,Portland,20.03.2016,None,None,None
133,20,3:02.51,Belgium,3,Birmingham,04.03.2018,None,None,None,None
140,21,3:02.52,Texas,A&M,University,1r2,Fayetteville,28.01.2017,None,None
147,21,3:02.52,Trinidad,&,Tobago,4,Birmingham,04.03.2018,None,None
154,23,3:02.59,University,of,Georgia,1r3,College,Station,26.02.2022,None
161,24,3:02.61,University,of,Florida,2r3,College,Station,26.02.2022,None
168,25,3:02.65,University,of,Florida,2r3,College,Station,25.02.2018,None
175,26,3:02.72,University,of,Oklahoma,1r2,Lubbock,25.02.2023,None,None
182,27,3:02.77,Texas,A&M,University,1,Lubbock,01.02.2020,None,None
189,28,3:02.80,Texas,A&M,University,1r3,College,Station,11.03.2017,None
196,29,3:02.83,United,States,1,Maebashi,17.03.1999,None,None,None
203,30,3:02.86,Texas,A&M,University,1r3,Fayetteville,14.03.2015,None,None
210,31,3:02.87,Belgium,1,Praha,08.03.2015,None,None,None,None
217,32,3:02.89,Baylor,University,2r2,Lubbock,25.02.2023,None,None,None
224,33,3:02.95,Texas,A&M,University,3r1,Clemson,10.02.2018,None,None
231,34,3:02.97,Poland,2,Praha,08.03.2015,None,None,None,None
238,35,3:02.98A,Texas,A&M,University,2r1,Albuquerque,04.02.2023,None,None
245,36,3:03.01,Poland,2,Maebashi,17.03.1999,None,None,None,None
252,37,3:03.05,Germany,1,Sevilla,10.03.1991,None,None,None,None
259,38,3:03.09,Arizona,State,University,2r6,Fayetteville,11.02.2023,None,None
266,39,3:03.10A,University,of,Georgia,2r3,Albuquerque,11.03.2023,None,None
273,40,3:03.16,North,Carolina,A&T,State,University,1r3,Fayetteville,13.03.2021
280,40,3:03.16A,University,of,Southern,California,1r2,Albuquerque,11.03.2023,None
287,42,3:03.17,University,of,Florida,1r4,Fayetteville,09.02.2019,None,None
294,43,3:03.18,University,of,Arkansas,-,A,3r4,Fayetteville,12.02.2022
301,44,3:03.20,Great,Britain,&,N.I.,3,Maebashi,17.03.1999,None
308,44,3:03.20,Texas,A&M,University,1rA,College,Station,01.03.2014,None
315,46,3:03.21,University,of,Florida,1r1,Clemson,29.01.2022,None,None
322,47,3:03.24,United,States,2,Sevilla,10.03.1991,None,None,None
329,47,3:03.24,United,States,1,Moskva,12.03.2006,None,None,None
336,49,3:03.30,Texas,A&M,University,1,Clemson,11.02.2017,None,None
343,50,3:03.31,University,of,Houston,1,Lubbock,18.01.2019,None,None
350,51,3:03.323,University,of,Georgia,1r3,Fayetteville,25.02.2023,None,None
357,52,3:03.39,North,Carolina,A&T,State,University,2r1,Clemson,29.01.2022
364,53,3:03.40,United,States,1,Ad-Dawhah,14.03.2010,None,None,None
371,54,3:03.44A,University,of,Alabama,1,Albuquerque,10.02.2023,None,None
378,55,3:03.47,Texas,A&M,University,1rA,Fayetteville,14.02.2015,None,None
385,56,3:03.49,Great,Britain,&,N.I.,2,Sopot,09.03.2014,None
392,56,3:03.49,University,of,Florida,1r1,Clemson,20.01.2018,None,None

In [14]:
df2["Team"] = df2[2].astype(str)+df2[3].astype(str)+df2[4].astype(str)+df2[5].astype(str)
df2

C:\Users\MoJo\AppData\Local\Temp\ipykernel_2344\2581977824.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Team"] = df2[2].astype(str)+df2[3].astype(str)+df2[4].astype(str)+df2[5].astype(str)

,0,1,2,3,4,5,6,7,8,9,Team
0,1,3:00.77,University,of,Southern,California,1r4,College,Station,10.03.2018,UniversityofSouthernCalifornia
7,2,3:01.09A,University,of,Arkansas,1r1,Albuquerque,04.02.2023,None,None,UniversityofArkansas1r1
14,3,3:01.39,Texas,A&M,University,2r4,College,Station,10.03.2018,None,TexasA&MUniversity2r4
21,4,3:01.43,University,of,Florida,3r4,College,Station,10.03.2018,None,UniversityofFlorida3r4
28,5,3:01.51,University,of,Houston,1r1,Clemson,09.02.2019,None,None,UniversityofHouston1r1
35,6,3:01.56,Texas,A&M,University,2r1,Clemson,09.02.2019,None,None,TexasA&MUniversity2r1
42,7,3:01.77,Poland,1,Birmingham,04.03.2018,None,None,None,None,Poland1Birmingham04.03.2018
49,8,3:01.78,University,of,Alabama,1r2,Fayetteville,25.02.2023,None,None,UniversityofAlabama1r2
56,9,3:01.96,United,States,1,Fayetteville,11.02.2006,None,None,None,UnitedStates1Fayetteville
63,10,3:01.97,United,States,2,Birmingham,04.03.2018,None,None,None,UnitedStates2Birmingham
70,11,3:01.98,University,of,Southern,California,1r1,Clemson,10.02.2018,None,UniversityofSouthernCalifornia
77,12,3:02.09,University,of,Florida,-,A,1r4,Fayetteville,12.02.2022,UniversityofFlorida-
84,12,3:02.09A,University,of,Arkansas,1r3,Albuquerque,11.03.2023,None,None,UniversityofArkansas1r3
91,14,3:02.13,United,States,1,Sopot,09.03.2014,None,None,None,UnitedStates1Sopot
98,15,3:02.18,University,of,Florida,1r6,Fayetteville,11.02.2023,None,None,UniversityofFlorida1r6
105,16,3:02.23,University,of,Florida,2r1,Clemson,10.02.2018,None,None,UniversityofFlorida2r1
112,17,3:02.35,Texas,A&M,University,1r3,College,Station,25.02.2018,None,TexasA&MUniversity1r3
119,18,3:02.40,University,of,Iowa,-,A,2r4,Fayetteville,12.02.2022,UniversityofIowa-
126,19,3:02.45,United,States,1,Portland,20.03.2016,None,None,None,UnitedStates1Portland
133,20,3:02.51,Belgium,3,Birmingham,04.03.2018,None,None,None,None,Belgium3Birmingham04.03.2018
140,21,3:02.52,Texas,A&M,University,1r2,Fayetteville,28.01.2017,None,None,TexasA&MUniversity1r2
147,21,3:02.52,Trinidad,&,Tobago,4,Birmingham,04.03.2018,None,None,Trinidad&Tobago4
154,23,3:02.59,University,of,Georgia,1r3,College,Station,26.02.2022,None,UniversityofGeorgia1r3
161,24,3:02.61,University,of,Florida,2r3,College,Station,26.02.2022,None,UniversityofFlorida2r3
168,25,3:02.65,University,of,Florida,2r3,College,Station,25.02.2018,None,UniversityofFlorida2r3
175,26,3:02.72,University,of,Oklahoma,1r2,Lubbock,25.02.2023,None,None,UniversityofOklahoma1r2
182,27,3:02.77,Texas,A&M,University,1,Lubbock,01.02.2020,None,None,TexasA&MUniversity1
189,28,3:02.80,Texas,A&M,University,1r3,College,Station,11.03.2017,None,TexasA&MUniversity1r3
196,29,3:02.83,United,States,1,Maebashi,17.03.1999,None,None,None,UnitedStates1Maebashi
203,30,3:02.86,Texas,A&M,University,1r3,Fayetteville,14.03.2015,None,None,TexasA&MUniversity1r3
210,31,3:02.87,Belgium,1,Praha,08.03.2015,None,None,None,None,Belgium1Praha08.03.2015
217,32,3:02.89,Baylor,University,2r2,Lubbock,25.02.2023,None,None,None,BaylorUniversity2r2Lubbock
224,33,3:02.95,Texas,A&M,University,3r1,Clemson,10.02.2018,None,None,TexasA&MUniversity3r1
231,34,3:02.97,Poland,2,Praha,08.03.2015,None,None,None,None,Poland2Praha08.03.2015
238,35,3:02.98A,Texas,A&M,University,2r1,Albuquerque,04.02.2023,None,None,TexasA&MUniversity2r1
245,36,3:03.01,Poland,2,Maebashi,17.03.1999,None,None,None,None,Poland2Maebashi17.03.1999
252,37,3:03.05,Germany,1,Sevilla,10.03.1991,None,None,None,None,Germany1Sevilla10.03.1991
259,38,3:03.09,Arizona,State,University,2r6,Fayetteville,11.02.2023,None,None,ArizonaStateUniversity2r6
266,39,3:03.10A,University,of,Georgia,2r3,Albuquerque,11.03.2023,None,None,UniversityofGeorgia2r3
273,40,3:03.16,North,Carolina,A&T,State,University,1r3,Fayetteville,13.03.2021,NorthCarolinaA&TState
280,40,3:03.16A,University,of,Southern,California,1r2,Albuquerque,11.03.2023,None,UniversityofSouthernCalifornia
287,42,3:03.17,University,of,Florida,1r4,Fayetteville,09.02.2019,None,None,UniversityofFlorida1r4
294,43,3:03.18,University,of,Arkansas,-,A,3r4,Fayetteville,12.02.2022,UniversityofArkansas-
301,44,3:03.20,Great,Britain,&,N.I.,3,Maebashi,17.03.1999,None,GreatBritain&N.I.
308,44,3:03.20,Texas,A&M,University,1rA,College,Station,01.03.2014,None,TexasA&MUniversity1rA
315,46,3:03.21,University,of,Florida,1r1,Clemson,29.01.2022,None,None,UniversityofFlorida1r1
322,47,3:03.24,United,States,2,Sevilla,10.03.1991,None,None,None,UnitedStates2Sevilla
329,47,3:03.24,United,States,1,Moskva,12.03.2006,None,None,None,UnitedStates1Moskva
336,49,3:03.30,Texas,A&M,University,1,Clemson,11.02.2017,None,None,TexasA&MUniversity1
343,50,3:03.31,University,of,Houston,1,Lubbock,18.01.2019,None,None,UniversityofHouston1
350,51,3:03.323,University,of,Georgia,1r3,Fayetteville,25.02.2023,None,None,UniversityofGeorgia1r3
357,52,3:03.39,North,Carolina,A&T,State,University,2r1,Clemson,29.01.2022,NorthCarolinaA&TState
364,53,3:03.40,United,States,1,Ad-Dawhah,14.03.2010,None,None,None,UnitedStates1Ad-Dawhah
371,54,3:03.44A,University,of,Alabama,1,Albuquerque,10.02.2023,None,None,UniversityofAlabama1
378,55,3:03.47,Texas,A&M,University,1rA,Fayetteville,14.02.2015,None,None,TexasA&MUniversity1rA
385,56,3:03.49,Great,Britain,&,N.I.,2,Sopot,09.03.2014,None,GreatBritain&N.I.
392,56,3:03.49,University,of,Florida,1r1,Clemson,20.01.2018,None,None,UniversityofFlorida1r1

In [15]:
df2["Location"] = df2[6].astype(str)+df2[7].astype(str)+df2[8].astype(str)
df2

C:\Users\MoJo\AppData\Local\Temp\ipykernel_2344\1826958115.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["Location"] = df2[6].astype(str)+df2[7].astype(str)+df2[8].astype(str)

,0,1,2,3,4,5,6,7,8,9,Team,Location
0,1,3:00.77,University,of,Southern,California,1r4,College,Station,10.03.2018,UniversityofSouthernCalifornia,1r4CollegeStation
7,2,3:01.09A,University,of,Arkansas,1r1,Albuquerque,04.02.2023,None,None,UniversityofArkansas1r1,Albuquerque04.02.2023None
14,3,3:01.39,Texas,A&M,University,2r4,College,Station,10.03.2018,None,TexasA&MUniversity2r4,CollegeStation10.03.2018
21,4,3:01.43,University,of,Florida,3r4,College,Station,10.03.2018,None,UniversityofFlorida3r4,CollegeStation10.03.2018
28,5,3:01.51,University,of,Houston,1r1,Clemson,09.02.2019,None,None,UniversityofHouston1r1,Clemson09.02.2019None
35,6,3:01.56,Texas,A&M,University,2r1,Clemson,09.02.2019,None,None,TexasA&MUniversity2r1,Clemson09.02.2019None
42,7,3:01.77,Poland,1,Birmingham,04.03.2018,None,None,None,None,Poland1Birmingham04.03.2018,NoneNoneNone
49,8,3:01.78,University,of,Alabama,1r2,Fayetteville,25.02.2023,None,None,UniversityofAlabama1r2,Fayetteville25.02.2023None
56,9,3:01.96,United,States,1,Fayetteville,11.02.2006,None,None,None,UnitedStates1Fayetteville,11.02.2006NoneNone
63,10,3:01.97,United,States,2,Birmingham,04.03.2018,None,None,None,UnitedStates2Birmingham,04.03.2018NoneNone
70,11,3:01.98,University,of,Southern,California,1r1,Clemson,10.02.2018,None,UniversityofSouthernCalifornia,1r1Clemson10.02.2018
77,12,3:02.09,University,of,Florida,-,A,1r4,Fayetteville,12.02.2022,UniversityofFlorida-,A1r4Fayetteville
84,12,3:02.09A,University,of,Arkansas,1r3,Albuquerque,11.03.2023,None,None,UniversityofArkansas1r3,Albuquerque11.03.2023None
91,14,3:02.13,United,States,1,Sopot,09.03.2014,None,None,None,UnitedStates1Sopot,09.03.2014NoneNone
98,15,3:02.18,University,of,Florida,1r6,Fayetteville,11.02.2023,None,None,UniversityofFlorida1r6,Fayetteville11.02.2023None
105,16,3:02.23,University,of,Florida,2r1,Clemson,10.02.2018,None,None,UniversityofFlorida2r1,Clemson10.02.2018None
112,17,3:02.35,Texas,A&M,University,1r3,College,Station,25.02.2018,None,TexasA&MUniversity1r3,CollegeStation25.02.2018
119,18,3:02.40,University,of,Iowa,-,A,2r4,Fayetteville,12.02.2022,UniversityofIowa-,A2r4Fayetteville
126,19,3:02.45,United,States,1,Portland,20.03.2016,None,None,None,UnitedStates1Portland,20.03.2016NoneNone
133,20,3:02.51,Belgium,3,Birmingham,04.03.2018,None,None,None,None,Belgium3Birmingham04.03.2018,NoneNoneNone
140,21,3:02.52,Texas,A&M,University,1r2,Fayetteville,28.01.2017,None,None,TexasA&MUniversity1r2,Fayetteville28.01.2017None
147,21,3:02.52,Trinidad,&,Tobago,4,Birmingham,04.03.2018,None,None,Trinidad&Tobago4,Birmingham04.03.2018None
154,23,3:02.59,University,of,Georgia,1r3,College,Station,26.02.2022,None,UniversityofGeorgia1r3,CollegeStation26.02.2022
161,24,3:02.61,University,of,Florida,2r3,College,Station,26.02.2022,None,UniversityofFlorida2r3,CollegeStation26.02.2022
168,25,3:02.65,University,of,Florida,2r3,College,Station,25.02.2018,None,UniversityofFlorida2r3,CollegeStation25.02.2018
175,26,3:02.72,University,of,Oklahoma,1r2,Lubbock,25.02.2023,None,None,UniversityofOklahoma1r2,Lubbock25.02.2023None
182,27,3:02.77,Texas,A&M,University,1,Lubbock,01.02.2020,None,None,TexasA&MUniversity1,Lubbock01.02.2020None
189,28,3:02.80,Texas,A&M,University,1r3,College,Station,11.03.2017,None,TexasA&MUniversity1r3,CollegeStation11.03.2017
196,29,3:02.83,United,States,1,Maebashi,17.03.1999,None,None,None,UnitedStates1Maebashi,17.03.1999NoneNone
203,30,3:02.86,Texas,A&M,University,1r3,Fayetteville,14.03.2015,None,None,TexasA&MUniversity1r3,Fayetteville14.03.2015None
210,31,3:02.87,Belgium,1,Praha,08.03.2015,None,None,None,None,Belgium1Praha08.03.2015,NoneNoneNone
217,32,3:02.89,Baylor,University,2r2,Lubbock,25.02.2023,None,None,None,BaylorUniversity2r2Lubbock,25.02.2023NoneNone
224,33,3:02.95,Texas,A&M,University,3r1,Clemson,10.02.2018,None,None,TexasA&MUniversity3r1,Clemson10.02.2018None
231,34,3:02.97,Poland,2,Praha,08.03.2015,None,None,None,None,Poland2Praha08.03.2015,NoneNoneNone
238,35,3:02.98A,Texas,A&M,University,2r1,Albuquerque,04.02.2023,None,None,TexasA&MUniversity2r1,Albuquerque04.02.2023None
245,36,3:03.01,Poland,2,Maebashi,17.03.1999,None,None,None,None,Poland2Maebashi17.03.1999,NoneNoneNone
252,37,3:03.05,Germany,1,Sevilla,10.03.1991,None,None,None,None,Germany1Sevilla10.03.1991,NoneNoneNone
259,38,3:03.09,Arizona,State,University,2r6,Fayetteville,11.02.2023,None,None,ArizonaStateUniversity2r6,Fayetteville11.02.2023None
266,39,3:03.10A,University,of,Georgia,2r3,Albuquerque,11.03.2023,None,None,UniversityofGeorgia2r3,Albuquerque11.03.2023None
273,40,3:03.16,North,Carolina,A&T,State,University,1r3,Fayetteville,13.03.2021,NorthCarolinaA&TState,University1r3Fayetteville
280,40,3:03.16A,University,of,Southern,California,1r2,Albuquerque,11.03.2023,None,UniversityofSouthernCalifornia,1r2Albuquerque11.03.2023
287,42,3:03.17,University,of,Florida,1r4,Fayetteville,09.02.2019,None,None,UniversityofFlorida1r4,Fayetteville09.02.2019None
294,43,3:03.18,University,of,Arkansas,-,A,3r4,Fayetteville,12.02.2022,UniversityofArkansas-,A3r4Fayetteville
301,44,3:03.20,Great,Britain,&,N.I.,3,Maebashi,17.03.1999,None,GreatBritain&N.I.,3Maebashi17.03.1999
308,44,3:03.20,Texas,A&M,University,1rA,College,Station,01.03.2014,None,TexasA&MUniversity1rA,CollegeStation01.03.2014
315,46,3:03.21,University,of,Florida,1r1,Clemson,29.01.2022,None,None,UniversityofFlorida1r1,Clemson29.01.2022None
322,47,3:03.24,United,States,2,Sevilla,10.03.1991,None,None,None,UnitedStates2Sevilla,10.03.1991NoneNone
329,47,3:03.24,United,States,1,Moskva,12.03.2006,None,None,None,UnitedStates1Moskva,12.03.2006NoneNone
336,49,3:03.30,Texas,A&M,University,1,Clemson,11.02.2017,None,None,TexasA&MUniversity1,Clemson11.02.2017None
343,50,3:03.31,University,of,Houston,1,Lubbock,18.01.2019,None,None,UniversityofHouston1,Lubbock18.01.2019None
350,51,3:03.323,University,of,Georgia,1r3,Fayetteville,25.02.2023,None,None,UniversityofGeorgia1r3,Fayetteville25.02.2023None
357,52,3:03.39,North,Carolina,A&T,State,University,2r1,Clemson,29.01.2022,NorthCarolinaA&TState,University2r1Clemson
364,53,3:03.40,United,States,1,Ad-Dawhah,14.03.2010,None,None,None,UnitedStates1Ad-Dawhah,14.03.2010NoneNone
371,54,3:03.44A,University,of,Alabama,1,Albuquerque,10.02.2023,None,None,UniversityofAlabama1,Albuquerque10.02.2023None
378,55,3:03.47,Texas,A&M,University,1rA,Fayetteville,14.02.2015,None,None,TexasA&MUniversity1rA,Fayetteville14.02.2015None
385,56,3:03.49,Great,Britain,&,N.I.,2,Sopot,09.03.2014,None,GreatBritain&N.I.,2Sopot09.03.2014
392,56,3:03.49,University,of,Florida,1r1,Clemson,20.01.2018,None,None,UniversityofFlorida1r1,Clemson20.01.2018None

In [16]:
WorkingDataSet = df2[[0, 1, 'Team','Location']]
WorkingDataSet

      0         1                            Team                    Location
0     1   3:00.77  UniversityofSouthernCalifornia           1r4CollegeStation
7     2  3:01.09A         UniversityofArkansas1r1   Albuquerque04.02.2023None
14    3   3:01.39           TexasA&MUniversity2r4    CollegeStation10.03.2018
21    4   3:01.43          UniversityofFlorida3r4    CollegeStation10.03.2018
28    5   3:01.51          UniversityofHouston1r1       Clemson09.02.2019None
35    6   3:01.56           TexasA&MUniversity2r1       Clemson09.02.2019None
42    7   3:01.77     Poland1Birmingham04.03.2018                NoneNoneNone
49    8   3:01.78          UniversityofAlabama1r2  Fayetteville25.02.2023None
56    9   3:01.96       UnitedStates1Fayetteville          11.02.2006NoneNone
63   10   3:01.97         UnitedStates2Birmingham          04.03.2018NoneNone
70   11   3:01.98  UniversityofSouthernCalifornia        1r1Clemson10.02.2018
77   12   3:02.09            UniversityofFlorida-            A1r4Fayetteville
84   12  3:02.09A         UniversityofArkansas1r3   Albuquerque11.03.2023None
91   14   3:02.13              UnitedStates1Sopot          09.03.2014NoneNone
98   15   3:02.18          UniversityofFlorida1r6  Fayetteville11.02.2023None
105  16   3:02.23          UniversityofFlorida2r1       Clemson10.02.2018None
112  17   3:02.35           TexasA&MUniversity1r3    CollegeStation25.02.2018
119  18   3:02.40               UniversityofIowa-            A2r4Fayetteville
126  19   3:02.45           UnitedStates1Portland          20.03.2016NoneNone
133  20   3:02.51    Belgium3Birmingham04.03.2018                NoneNoneNone
140  21   3:02.52           TexasA&MUniversity1r2  Fayetteville28.01.2017None
147  21   3:02.52                Trinidad&Tobago4    Birmingham04.03.2018None
154  23   3:02.59          UniversityofGeorgia1r3    CollegeStation26.02.2022
161  24   3:02.61          UniversityofFlorida2r3    CollegeStation26.02.2022
168  25   3:02.65          UniversityofFlorida2r3    CollegeStation25.02.2018
175  26   3:02.72         UniversityofOklahoma1r2       Lubbock25.02.2023None
182  27   3:02.77             TexasA&MUniversity1       Lubbock01.02.2020None
189  28   3:02.80           TexasA&MUniversity1r3    CollegeStation11.03.2017
196  29   3:02.83           UnitedStates1Maebashi          17.03.1999NoneNone
203  30   3:02.86           TexasA&MUniversity1r3  Fayetteville14.03.2015None
210  31   3:02.87         Belgium1Praha08.03.2015                NoneNoneNone
217  32   3:02.89      BaylorUniversity2r2Lubbock          25.02.2023NoneNone
224  33   3:02.95           TexasA&MUniversity3r1       Clemson10.02.2018None
231  34   3:02.97          Poland2Praha08.03.2015                NoneNoneNone
238  35  3:02.98A           TexasA&MUniversity2r1   Albuquerque04.02.2023None
245  36   3:03.01       Poland2Maebashi17.03.1999                NoneNoneNone
252  37   3:03.05       Germany1Sevilla10.03.1991                NoneNoneNone
259  38   3:03.09       ArizonaStateUniversity2r6  Fayetteville11.02.2023None
266  39  3:03.10A          UniversityofGeorgia2r3   Albuquerque11.03.2023None
273  40   3:03.16           NorthCarolinaA&TState   University1r3Fayetteville
280  40  3:03.16A  UniversityofSouthernCalifornia    1r2Albuquerque11.03.2023
287  42   3:03.17          UniversityofFlorida1r4  Fayetteville09.02.2019None
294  43   3:03.18           UniversityofArkansas-            A3r4Fayetteville
301  44   3:03.20               GreatBritain&N.I.         3Maebashi17.03.1999
308  44   3:03.20           TexasA&MUniversity1rA    CollegeStation01.03.2014
315  46   3:03.21          UniversityofFlorida1r1       Clemson29.01.2022None
322  47   3:03.24            UnitedStates2Sevilla          10.03.1991NoneNone
329  47   3:03.24             UnitedStates1Moskva          12.03.2006NoneNone
336  49   3:03.30             TexasA&MUniversity1       Clemson11.02.2017None
343  50   3:03.31            UniversityofHouston1       Lubbock18.01.2019None
350  51  3:03.323          UniversityofGeorgia1r3  Fayetteville25.02.2023None
357  52   3:03.39           NorthCarolinaA&TState        University2r1Clemson
364  53   3:03.40          UnitedStates1Ad-Dawhah          14.03.2010NoneNone
371  54  3:03.44A            UniversityofAlabama1   Albuquerque10.02.2023None
378  55   3:03.47           TexasA&MUniversity1rA  Fayetteville14.02.2015None
385  56   3:03.49               GreatBritain&N.I.            2Sopot09.03.2014
392  56   3:03.49          UniversityofFlorida1r1       Clemson20.01.2018None

In [17]:
new_column_names = ['RANKINGS','TIMES','TEAM','LOCATION']
WorkingDataSet.columns = new_column_names
WorkingDataSet

,RANKINGS,TIMES,TEAM,LOCATION
0,1,3:00.77,UniversityofSouthernCalifornia,1r4CollegeStation
7,2,3:01.09A,UniversityofArkansas1r1,Albuquerque04.02.2023None
14,3,3:01.39,TexasA&MUniversity2r4,CollegeStation10.03.2018
21,4,3:01.43,UniversityofFlorida3r4,CollegeStation10.03.2018
28,5,3:01.51,UniversityofHouston1r1,Clemson09.02.2019None
35,6,3:01.56,TexasA&MUniversity2r1,Clemson09.02.2019None
42,7,3:01.77,Poland1Birmingham04.03.2018,NoneNoneNone
49,8,3:01.78,UniversityofAlabama1r2,Fayetteville25.02.2023None
56,9,3:01.96,UnitedStates1Fayetteville,11.02.2006NoneNone
63,10,3:01.97,UnitedStates2Birmingham,04.03.2018NoneNone
70,11,3:01.98,UniversityofSouthernCalifornia,1r1Clemson10.02.2018
77,12,3:02.09,UniversityofFlorida-,A1r4Fayetteville
84,12,3:02.09A,UniversityofArkansas1r3,Albuquerque11.03.2023None
91,14,3:02.13,UnitedStates1Sopot,09.03.2014NoneNone
98,15,3:02.18,UniversityofFlorida1r6,Fayetteville11.02.2023None
105,16,3:02.23,UniversityofFlorida2r1,Clemson10.02.2018None
112,17,3:02.35,TexasA&MUniversity1r3,CollegeStation25.02.2018
119,18,3:02.40,UniversityofIowa-,A2r4Fayetteville
126,19,3:02.45,UnitedStates1Portland,20.03.2016NoneNone
133,20,3:02.51,Belgium3Birmingham04.03.2018,NoneNoneNone
140,21,3:02.52,TexasA&MUniversity1r2,Fayetteville28.01.2017None
147,21,3:02.52,Trinidad&Tobago4,Birmingham04.03.2018None
154,23,3:02.59,UniversityofGeorgia1r3,CollegeStation26.02.2022
161,24,3:02.61,UniversityofFlorida2r3,CollegeStation26.02.2022
168,25,3:02.65,UniversityofFlorida2r3,CollegeStation25.02.2018
175,26,3:02.72,UniversityofOklahoma1r2,Lubbock25.02.2023None
182,27,3:02.77,TexasA&MUniversity1,Lubbock01.02.2020None
189,28,3:02.80,TexasA&MUniversity1r3,CollegeStation11.03.2017
196,29,3:02.83,UnitedStates1Maebashi,17.03.1999NoneNone
203,30,3:02.86,TexasA&MUniversity1r3,Fayetteville14.03.2015None
210,31,3:02.87,Belgium1Praha08.03.2015,NoneNoneNone
217,32,3:02.89,BaylorUniversity2r2Lubbock,25.02.2023NoneNone
224,33,3:02.95,TexasA&MUniversity3r1,Clemson10.02.2018None
231,34,3:02.97,Poland2Praha08.03.2015,NoneNoneNone
238,35,3:02.98A,TexasA&MUniversity2r1,Albuquerque04.02.2023None
245,36,3:03.01,Poland2Maebashi17.03.1999,NoneNoneNone
252,37,3:03.05,Germany1Sevilla10.03.1991,NoneNoneNone
259,38,3:03.09,ArizonaStateUniversity2r6,Fayetteville11.02.2023None
266,39,3:03.10A,UniversityofGeorgia2r3,Albuquerque11.03.2023None
273,40,3:03.16,NorthCarolinaA&TState,University1r3Fayetteville
280,40,3:03.16A,UniversityofSouthernCalifornia,1r2Albuquerque11.03.2023
287,42,3:03.17,UniversityofFlorida1r4,Fayetteville09.02.2019None
294,43,3:03.18,UniversityofArkansas-,A3r4Fayetteville
301,44,3:03.20,GreatBritain&N.I.,3Maebashi17.03.1999
308,44,3:03.20,TexasA&MUniversity1rA,CollegeStation01.03.2014
315,46,3:03.21,UniversityofFlorida1r1,Clemson29.01.2022None
322,47,3:03.24,UnitedStates2Sevilla,10.03.1991NoneNone
329,47,3:03.24,UnitedStates1Moskva,12.03.2006NoneNone
336,49,3:03.30,TexasA&MUniversity1,Clemson11.02.2017None
343,50,3:03.31,UniversityofHouston1,Lubbock18.01.2019None
350,51,3:03.323,UniversityofGeorgia1r3,Fayetteville25.02.2023None
357,52,3:03.39,NorthCarolinaA&TState,University2r1Clemson
364,53,3:03.40,UnitedStates1Ad-Dawhah,14.03.2010NoneNone
371,54,3:03.44A,UniversityofAlabama1,Albuquerque10.02.2023None
378,55,3:03.47,TexasA&MUniversity1rA,Fayetteville14.02.2015None
385,56,3:03.49,GreatBritain&N.I.,2Sopot09.03.2014
392,56,3:03.49,UniversityofFlorida1r1,Clemson20.01.2018None

In [18]:
WorkingDataSet.to_csv('IndoorProMens4x400m.csv', index=False)