In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, precision_score, recall_score, auc,roc_curve
from sklearn.preprocessing import MinMaxScaler
import tensorflow as tf
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn.preprocessing import LabelEncoder
import seaborn as sns
import datetime
import pytz
import datetime
import time
import pandas as pd
import plotly.express as px
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.pipeline import make_pipeline
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from textblob import TextBlob
from stop_words import get_stop_words
import re
import tensorflow as tf
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from sklearn import svm 
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score
import pickle

In [2]:
from scipy.stats import skew
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import GridSearchCV

### HingeData

In [3]:
HingeData = pd.read_pickle('HingeChats.pkl')

### TikTokData

In [4]:
ATD1 = pd.read_pickle('ATD1.pkl')
ATD2 = pd.read_pickle('ATD2.pkl')
CleanedUpATD2 = pd.read_pickle('CleanedUpATD2.pkl')
JoinedOnLink = pd.read_pickle('VBHIFLOL.pkl')
JoinedOnTime = pd.read_pickle('VBHIFLOT.pkl')

### Instagram Data

In [5]:
MyComments = pd.read_pickle('Instagram/MyComments.pkl')
SavedPosts = pd.read_pickle('Instagram/SavedPosts.pkl')

### Code Here

In [6]:
HingeData

,body,timestamp,type,Time,Date,Hour,EST Military Hour,EST Standard Hour,Category_Military_Hour,Numeric EST Standard Hour,Month
0,So a flashlight gave you lead poisoning? Hold ...,2022-12-08 19:14:47,chats,19:14:47,2022-12-08,19,19,7 PM,17-24,7,12
1,"If you could plan out the perfect first date, ...",2022-12-22 15:43:04,chats,15:43:04,2022-12-22,15,15,3 PM,9-16,3,12
2,"If you could plan out a perfect first date, wh...",2022-12-22 15:42:15,chats,15:42:15,2022-12-22,15,15,3 PM,9-16,3,12
3,What would a perfect first date for you be?,2022-12-27 01:17:12,chats,01:17:12,2022-12-27,01,1,1 AM,0-8,1,12
4,okay okay i like that…would you want to meet u...,2022-12-28 21:19:09,chats,21:19:09,2022-12-28,21,21,9 PM,17-24,9,12
...,...,...,...,...,...,...,...,...,...,...,...
66,Heyyy how’s it going?!,2023-10-11 01:25:02,chats,01:25:02,2023-10-11,01,1,1 AM,0-8,1,10
67,Hey how is your Sunday going so far?,2023-10-15 16:17:14,chats,16:17:14,2023-10-15,16,16,4 PM,9-16,4,10
68,It has been a minuteeeee though,2023-10-17 13:39:38,chats,13:39:38,2023-10-17,13,13,1 PM,9-16,1,10
69,It’s funny because your irrational fear has ac...,2023-10-29 17:45:46,chats,17:45:46,2023-10-29,17,17,5 PM,17-24,5,10
70,So you’re a picker eater? That’s perfect becau...,2024-01-03 19:02:47,chats,19:02:47,2024-01-03,19,19,7 PM,17-24,7,01

In [7]:
CleanedUpATD2

,Day,Date,SharedContent,Link,Method,Time,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
1,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
2,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
3,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
4,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
...,...,...,...,...,...,...,...,...,...,...,...,...
11511,2023-10-19,2023-10-19 22:54:28,video,https://www.tiktokv.com/share/video/7262104728...,sms,22:54:28,10,22,22,10 PM,1,17-24
11512,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6958541219...,sms,22:52:28,10,22,22,10 PM,1,17-24
11513,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6988692228...,sms,22:52:28,10,22,22,10 PM,1,17-24
11514,2023-10-19,2023-10-19 22:48:38,video,https://www.tiktokv.com/share/video/7198636722...,sms,22:48:38,10,22,22,10 PM,1,17-24
11515,2023-10-19,2023-10-19 22:46:39,video,https://www.tiktokv.com/share/video/7263975887...,sms,22:46:39,10,22,22,10 PM,1,17-24

In [8]:
JoinedOnLink

,Date,Link,Time,Day,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-03-13 00:56:45,https://www.tiktokv.com/share/video/7345482887...,00:56:45,2024-03-13,03,00,0,0 AM,0,NaN
1,2024-02-29 20:27:48,https://www.tiktokv.com/share/video/7335545859...,20:27:48,2024-02-29,02,20,20,8 PM,8,17-24
2,2024-02-21 17:13:37,https://www.tiktokv.com/share/video/7311900352...,17:13:37,2024-02-21,02,17,17,5 PM,5,17-24
3,2024-02-18 02:55:09,https://www.tiktokv.com/share/video/7336709865...,02:55:09,2024-02-18,02,02,2,2 AM,2,0-8
4,2024-02-15 00:06:50,https://www.tiktokv.com/share/video/7333747257...,00:06:50,2024-02-15,02,00,0,0 AM,0,NaN
5,2024-02-14 13:28:40,https://www.tiktokv.com/share/video/7334746282...,13:28:40,2024-02-14,02,13,13,1 PM,1,9-16
6,2024-02-13 13:37:31,https://www.tiktokv.com/share/video/7333974039...,13:37:31,2024-02-13,02,13,13,1 PM,1,9-16
7,2024-02-04 16:29:09,https://www.tiktokv.com/share/video/7317157308...,16:29:09,2024-02-04,02,16,16,4 PM,4,9-16
8,2024-01-31 03:21:41,https://www.tiktokv.com/share/video/7329573805...,03:21:41,2024-01-31,01,03,3,3 AM,3,0-8
9,2024-01-29 19:46:39,https://www.tiktokv.com/share/video/7329305628...,19:46:39,2024-01-29,01,19,19,7 PM,7,17-24
10,2024-01-27 21:30:55,https://www.tiktokv.com/share/video/7206098982...,21:30:55,2024-01-27,01,21,21,9 PM,9,17-24
11,2024-01-24 23:40:07,https://www.tiktokv.com/share/video/7327812419...,23:40:07,2024-01-24,01,23,23,11 PM,1,17-24
12,2024-01-13 05:50:09,https://www.tiktokv.com/share/video/7320367757...,05:50:09,2024-01-13,01,05,5,5 AM,5,0-8
13,2024-01-12 22:36:45,https://www.tiktokv.com/share/video/7318857350...,22:36:45,2024-01-12,01,22,22,10 PM,1,17-24
14,2024-01-07 04:55:20,https://www.tiktokv.com/share/video/7318857350...,04:55:20,2024-01-07,01,04,4,4 AM,4,0-8
15,2024-01-03 16:33:05,https://www.tiktokv.com/share/video/7318857350...,16:33:05,2024-01-03,01,16,16,4 PM,4,9-16
16,2024-01-10 03:26:01,https://www.tiktokv.com/share/video/7316968226...,03:26:01,2024-01-10,01,03,3,3 AM,3,0-8
17,2024-01-05 12:06:25,https://www.tiktokv.com/share/video/7320359971...,12:06:25,2024-01-05,01,12,12,0 PM,0,9-16
18,2024-01-04 19:02:57,https://www.tiktokv.com/share/video/7320298835...,19:02:57,2024-01-04,01,19,19,7 PM,7,17-24
19,2023-12-15 17:04:55,https://www.tiktokv.com/share/video/7312533262...,17:04:55,2023-12-15,12,17,17,5 PM,5,17-24
20,2023-12-15 14:51:21,https://www.tiktokv.com/share/video/7308133609...,14:51:21,2023-12-15,12,14,14,2 PM,2,9-16
21,2023-12-03 16:17:23,https://www.tiktokv.com/share/video/7308133609...,16:17:23,2023-12-03,12,16,16,4 PM,4,9-16
22,2023-12-13 22:46:45,https://www.tiktokv.com/share/video/7299184462...,22:46:45,2023-12-13,12,22,22,10 PM,1,17-24
23,2023-12-06 03:54:28,https://www.tiktokv.com/share/video/7306232369...,03:54:28,2023-12-06,12,03,3,3 AM,3,0-8
24,2023-12-01 20:30:39,https://www.tiktokv.com/share/video/7307706129...,20:30:39,2023-12-01,12,20,20,8 PM,8,17-24
25,2023-11-30 02:00:42,https://www.tiktokv.com/share/video/7305611344...,02:00:42,2023-11-30,11,02,2,2 AM,2,0-8
26,2023-11-27 00:52:35,https://www.tiktokv.com/share/video/7305611344...,00:52:35,2023-11-27,11,00,0,0 AM,0,NaN
27,2023-11-26 19:51:38,https://www.tiktokv.com/share/video/7305611344...,19:51:38,2023-11-26,11,19,19,7 PM,7,17-24
28,2023-11-28 03:04:32,https://www.tiktokv.com/share/video/7301330118...,03:04:32,2023-11-28,11,03,3,3 AM,3,0-8
29,2023-11-25 01:57:24,https://www.tiktokv.com/share/video/7267966908...,01:57:24,2023-11-25,11,01,1,1 AM,1,0-8
30,2023-11-18 04:42:23,https://www.tiktokv.com/share/video/7204709589...,04:42:23,2023-11-18,11,04,4,4 AM,4,0-8
31,2023-11-13 20:42:30,https://www.tiktokv.com/share/video/7300977024...,20:42:30,2023-11-13,11,20,20,8 PM,8,17-24
32,2023-11-07 01:19:46,https://www.tiktokv.com/share/video/7298109084...,01:19:46,2023-11-07,11,01,1,1 AM,1,0-8
33,2023-11-01 16:17:55,https://www.tiktokv.com/share/video/7288332663...,16:17:55,2023-11-01,11,16,16,4 PM,4,9-16
34,2023-10-23 12:08:39,https://www.tiktokv.com/share/video/7288332663...,12:08:39,2023-10-23,10,12,12,0 PM,0,9-16
35,2023-10-19 15:26:43,https://www.tiktokv.com/share/video/7288332663...,15:26:43,2023-10-19,10,15,15,3 PM,3,9-16
36,2023-10-15 12:04:23,https://www.tiktokv.com/share/video/7288332663...,12:04:23,2023-10-15,10,12,12,0 PM,0,9-16
37,2023-10-13 13:38:15,https://www.tiktokv.com/share/video/7288332663...,13:38:15,2023-10-13,10,13,13,1 PM,1,9-16
38,2023-10-12 21:45:37,https://www.tiktokv.com/share/video/7288332663...,21:45:37,2023-10-12,10,21,21,9 PM,9,17-24
39,2023-10-31 20:35:22,https://www.tiktokv.com/share/video/7295810032...,20:35:22,2023-10-31,10,20,20,8 PM,8,17-24
40,2023-10-27 16:05:19,https://www.tiktokv.com/share/video/7280705978...,16:05:19,2023-10-27,10,16,16,4 PM,4,9-16
41,2023-10-13 21:13:55,https://www.tiktokv.com/share/video/7280705978...,21:13:55,2023-10-13,10,21,21,9 PM,9,17-24
42,2023-10-27 15:55:14,https://www.tiktokv.com/share/video/7288062899...,15:55:14,2023-10-27,10,15,15,3 PM,3,9-16
43,2023-10-27 13:45:12,https://www.tiktokv.com/share/video/7292906983...,13:45:12,2023-10-27,10,13,13,1 PM,1,9-16
44,2023-10-23 21:44:37,https://www.tiktokv.com/share/video/7292906983...,21:44:37,2023-10-23,10,21,21,9 PM,9,17-24
45,2023-10-25 18:25:11,https://www.tiktokv.com/share/video/7288812518...,18:25:11,2023-10-25,10,18,18,6 PM,6,17-24
46,2023-10-12 03:06:13,https://www.tiktokv.com/share/video/7288812518...,03:06:13,2023-10-12,10,03,3,3 AM,3,0-8
47,2023-10-20 12:16:27,https://www.tiktokv.com/share/video/7272795477...,12:16:27,2023-10-20,10,12,12,0 PM,0,9-16
48,2023-10-20 12:08:00,https://www.tiktokv.com/share/video/7286182651...,12:08:00,2023-10-20,10,12,12,0 PM,0,9-16
49,2023-10-13 11:44:05,https://www.tiktokv.com/share/video/7286182651...,11:44:05,2023-10-13,10,11,11,11 AM,1,9-16
50,2023-10-12 20:43:33,https://www.tiktokv.com/share/video/7286182651...,20:43:33,2023-10-12,10,20,20,8 PM,8,17-24
51,2023-10-19 12:21:01,https://www.tiktokv.com/share/video/7291408085...,12:21:01,2023-10-19,10,12,12,0 PM,0,9-16

In [9]:
JoinedOnTime

,Date,Link,Time,Day,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-04-08 23:49:33,https://www.tiktokv.com/share/video/7337000215...,23:49:33,2024-04-08,04,23,23,11 PM,1,17-24
1,2024-01-14 23:49:33,https://www.tiktokv.com/share/video/7322950080...,23:49:33,2024-01-14,01,23,23,11 PM,1,17-24
2,2023-12-22 23:49:33,https://www.tiktokv.com/share/video/7311885629...,23:49:33,2023-12-22,12,23,23,11 PM,1,17-24
3,2024-04-08 20:51:22,https://www.tiktokv.com/share/video/7351419307...,20:51:22,2024-04-08,04,20,20,8 PM,8,17-24
4,2024-04-08 18:36:05,https://www.tiktokv.com/share/video/7355469113...,18:36:05,2024-04-08,04,18,18,6 PM,6,17-24
...,...,...,...,...,...,...,...,...,...,...
1628,2023-10-12 21:54:07,https://www.tiktokv.com/share/video/7289139120...,21:54:07,2023-10-12,10,21,21,9 PM,9,17-24
1629,2023-10-12 20:49:51,https://www.tiktokv.com/share/video/7289129130...,20:49:51,2023-10-12,10,20,20,8 PM,8,17-24
1630,2023-10-12 20:47:08,https://www.tiktokv.com/share/video/7289086071...,20:47:08,2023-10-12,10,20,20,8 PM,8,17-24
1631,2023-10-12 13:06:39,https://www.tiktokv.com/share/video/7280460196...,13:06:39,2023-10-12,10,13,13,1 PM,1,9-16
1632,2023-10-12 03:14:03,https://www.tiktokv.com/share/video/7288815299...,03:14:03,2023-10-12,10,03,3,3 AM,3,0-8

In [10]:
MyComments

,Timestamp,Comments,MediaOwnerHolder,Actual Time,Actual Time in String,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,1708539162,This the typa content I like to see,austin__j11,2024-02-21 13:12:42,2024-02-21 13:12:42,02,13,13,1 PM,1,9-16
1,1704480918,you posted the miss? bold,selinagabs,2024-01-05 13:55:18,2024-01-05 13:55:18,01,13,13,1 PM,1,9-16
2,1704004187,aye we still friends right?,erin_tillery,2023-12-31 01:29:47,2023-12-31 01:29:47,12,01,1,1 AM,1,0-8
3,1703188044,Bigggg congrats Quack,_nicola_5,2023-12-21 14:47:24,2023-12-21 14:47:24,12,14,14,2 PM,2,9-16
4,1702775591,big congrats ð¤ð¿,lindsay_leeee,2023-12-16 20:13:11,2023-12-16 20:13:11,12,20,20,8 PM,8,17-24
...,...,...,...,...,...,...,...,...,...,...,...
1588,1423869872,1,nbaallstar,2015-02-13 18:24:32,2015-02-13 18:24:32,02,18,18,6 PM,6,17-24
1589,1423868878,1,miamiheat,2015-02-13 18:07:58,2015-02-13 18:07:58,02,18,18,6 PM,6,17-24
1590,1423359136,Yes I did,None,2015-02-07 20:32:16,2015-02-07 20:32:16,02,20,20,8 PM,8,17-24
1591,1422825861,Little late don't u think,None,2015-02-01 16:24:21,2015-02-01 16:24:21,02,16,16,4 PM,4,9-16
1592,1420497828,True,_nicola_5,2015-01-05 17:43:48,2015-01-05 17:43:48,01,17,17,5 PM,5,17-24

In [11]:
SavedPosts

,Timestamp,HREF,Account,Actual Time,Actual Time in String,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,1709641684,https://www.instagram.com/p/C4HmXkRLFQr/,3.1415926535897932384626433832,2024-03-05 07:28:04,2024-03-05 07:28:04,03,07,7,7 AM,7,0-8
1,1709089505,https://www.instagram.com/p/C34BNBYrN4R/,pubity,2024-02-27 22:05:05,2024-02-27 22:05:05,02,22,22,10 PM,1,17-24
2,1709040643,https://www.instagram.com/p/C3i3yh_RPRK/,intrinsic_motion,2024-02-27 08:30:43,2024-02-27 08:30:43,02,08,8,8 AM,8,0-8
3,1708953155,https://www.instagram.com/p/C3yqyVZJzws/,bleacherreport,2024-02-26 08:12:35,2024-02-26 08:12:35,02,08,8,8 AM,8,0-8
4,1708832529,https://www.instagram.com/p/C3vJkbhLOJn/,sportscenter,2024-02-24 22:42:09,2024-02-24 22:42:09,02,22,22,10 PM,1,17-24
...,...,...,...,...,...,...,...,...,...,...,...
2720,1482887250,https://www.instagram.com/p/BOiqhV2jSEx/,houseofhighlights,2016-12-27 20:07:30,2016-12-27 20:07:30,12,20,20,8 PM,8,17-24
2721,1482612725,https://www.instagram.com/p/BOafebpDjA6/,daquan,2016-12-24 15:52:05,2016-12-24 15:52:05,12,15,15,3 PM,3,9-16
2722,1482459520,https://www.instagram.com/p/BN5PuXBA7HD/,kingbach,2016-12-22 21:18:40,2016-12-22 21:18:40,12,21,21,9 PM,9,17-24
2723,1482370434,https://www.instagram.com/p/BOSvLU_j-DT/,daquan,2016-12-21 20:33:54,2016-12-21 20:33:54,12,20,20,8 PM,8,17-24
2724,1482356325,https://www.instagram.com/p/BOS1pdOjeKm/,daquan,2016-12-21 16:38:45,2016-12-21 16:38:45,12,16,16,4 PM,4,9-16

### Hinge Data and Model Creations

In [12]:
HingeData

,body,timestamp,type,Time,Date,Hour,EST Military Hour,EST Standard Hour,Category_Military_Hour,Numeric EST Standard Hour,Month
0,So a flashlight gave you lead poisoning? Hold ...,2022-12-08 19:14:47,chats,19:14:47,2022-12-08,19,19,7 PM,17-24,7,12
1,"If you could plan out the perfect first date, ...",2022-12-22 15:43:04,chats,15:43:04,2022-12-22,15,15,3 PM,9-16,3,12
2,"If you could plan out a perfect first date, wh...",2022-12-22 15:42:15,chats,15:42:15,2022-12-22,15,15,3 PM,9-16,3,12
3,What would a perfect first date for you be?,2022-12-27 01:17:12,chats,01:17:12,2022-12-27,01,1,1 AM,0-8,1,12
4,okay okay i like that…would you want to meet u...,2022-12-28 21:19:09,chats,21:19:09,2022-12-28,21,21,9 PM,17-24,9,12
...,...,...,...,...,...,...,...,...,...,...,...
66,Heyyy how’s it going?!,2023-10-11 01:25:02,chats,01:25:02,2023-10-11,01,1,1 AM,0-8,1,10
67,Hey how is your Sunday going so far?,2023-10-15 16:17:14,chats,16:17:14,2023-10-15,16,16,4 PM,9-16,4,10
68,It has been a minuteeeee though,2023-10-17 13:39:38,chats,13:39:38,2023-10-17,13,13,1 PM,9-16,1,10
69,It’s funny because your irrational fear has ac...,2023-10-29 17:45:46,chats,17:45:46,2023-10-29,17,17,5 PM,17-24,5,10
70,So you’re a picker eater? That’s perfect becau...,2024-01-03 19:02:47,chats,19:02:47,2024-01-03,19,19,7 PM,17-24,7,01

In [13]:
HingeData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   body                       71 non-null     object
 1   timestamp                  71 non-null     object
 2   type                       71 non-null     object
 3   Time                       71 non-null     object
 4   Date                       71 non-null     object
 5   Hour                       71 non-null     object
 6   EST Military Hour          71 non-null     int64
 7   EST Standard Hour          71 non-null     object
 8   Category_Military_Hour     66 non-null     category
 9   Numeric EST Standard Hour  71 non-null     object
 10  Month                      71 non-null     object
dtypes: category(1), int64(1), object(9)
memory usage: 5.9+ KB

In [14]:
HingeData['Numeric EST Standard Hour'] = HingeData['Numeric EST Standard Hour'].astype(int)
HingeData['Month'] = HingeData['Month'].astype(int)

In [15]:
HingeData

,body,timestamp,type,Time,Date,Hour,EST Military Hour,EST Standard Hour,Category_Military_Hour,Numeric EST Standard Hour,Month
0,So a flashlight gave you lead poisoning? Hold ...,2022-12-08 19:14:47,chats,19:14:47,2022-12-08,19,19,7 PM,17-24,7,12
1,"If you could plan out the perfect first date, ...",2022-12-22 15:43:04,chats,15:43:04,2022-12-22,15,15,3 PM,9-16,3,12
2,"If you could plan out a perfect first date, wh...",2022-12-22 15:42:15,chats,15:42:15,2022-12-22,15,15,3 PM,9-16,3,12
3,What would a perfect first date for you be?,2022-12-27 01:17:12,chats,01:17:12,2022-12-27,01,1,1 AM,0-8,1,12
4,okay okay i like that…would you want to meet u...,2022-12-28 21:19:09,chats,21:19:09,2022-12-28,21,21,9 PM,17-24,9,12
...,...,...,...,...,...,...,...,...,...,...,...
66,Heyyy how’s it going?!,2023-10-11 01:25:02,chats,01:25:02,2023-10-11,01,1,1 AM,0-8,1,10
67,Hey how is your Sunday going so far?,2023-10-15 16:17:14,chats,16:17:14,2023-10-15,16,16,4 PM,9-16,4,10
68,It has been a minuteeeee though,2023-10-17 13:39:38,chats,13:39:38,2023-10-17,13,13,1 PM,9-16,1,10
69,It’s funny because your irrational fear has ac...,2023-10-29 17:45:46,chats,17:45:46,2023-10-29,17,17,5 PM,17-24,5,10
70,So you’re a picker eater? That’s perfect becau...,2024-01-03 19:02:47,chats,19:02:47,2024-01-03,19,19,7 PM,17-24,7,1

In [16]:
HingeData.describe()

       EST Military Hour  Numeric EST Standard Hour      Month
count          71.000000                  71.000000  71.000000
mean           10.394366                   3.295775   5.225352
std             8.392988                   2.727607   3.444238
min             0.000000                   0.000000   1.000000
25%             2.000000                   1.000000   2.500000
50%            13.000000                   3.000000   4.000000
75%            18.500000                   5.000000   8.000000
max            23.000000                   9.000000  12.000000

In [17]:
NumericalFactors = HingeData[['EST Military Hour','Numeric EST Standard Hour','Month']]
NumericalFactors

    EST Military Hour  Numeric EST Standard Hour  Month
0                  19                          7     12
1                  15                          3     12
2                  15                          3     12
3                   1                          1     12
4                  21                          9     12
..                ...                        ...    ...
66                  1                          1     10
67                 16                          4     10
68                 13                          1     10
69                 17                          5     10
70                 19                          7      1

[71 rows x 3 columns]

In [18]:
skewness = NumericalFactors.skew()

In [19]:
print(skewness)

EST Military Hour            0.036495
Numeric EST Standard Hour    0.856980
Month                        0.429498
dtype: float64

#### Multi - Classification

In [20]:
X = NumericalFactors[['Numeric EST Standard Hour']]
X

    Numeric EST Standard Hour
0                           7
1                           3
2                           3
3                           1
4                           9
..                        ...
66                          1
67                          4
68                          1
69                          5
70                          7

[71 rows x 1 columns]

In [21]:
y = NumericalFactors[['Month']]
y

    Month
0      12
1      12
2      12
3      12
4      12
..    ...
66     10
67     10
68     10
69     10
70      1

[71 rows x 1 columns]

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [23]:
# Create a Decision Tree classifier
model = DecisionTreeClassifier()

In [24]:
# Fit the model on the training data
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [25]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [26]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.13636363636363635

#### Hyperparameters Tuning

In [27]:
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 5, 10, 15, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2', None]
}

In [28]:
dt_classifier = DecisionTreeClassifier()

In [29]:
# Perform Grid Search with cross-validation
grid_search = GridSearchCV(dt_classifier, param_grid, cv=5)
grid_search.fit(X_train, y_train)

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=5.
  warnings.warn(

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 5, 10, 15, 20],
                         'max_features': ['auto', 'sqrt', 'log2', None],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]})

In [30]:
# Get the best hyperparameters
best_params = grid_search.best_params_
print(f"Best hyperparameters: {best_params}")

Best hyperparameters: {'criterion': 'gini', 'max_depth': None, 'max_features': 'auto', 'min_samples_leaf': 1, 'min_samples_split': 2}

In [31]:
grid_search.fit(X_train, y_train)

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 2 members, which is less than n_splits=5.
  warnings.warn(

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 5, 10, 15, 20],
                         'max_features': ['auto', 'sqrt', 'log2', None],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]})

In [32]:
# Make predictions on the test data
y_pred = grid_search.predict(X_test)

In [33]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.13636363636363635

### TikTok Data

In [34]:
CleanedUpATD2

,Day,Date,SharedContent,Link,Method,Time,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
1,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
2,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
3,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
4,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,02,23,23,11 PM,1,17-24
...,...,...,...,...,...,...,...,...,...,...,...,...
11511,2023-10-19,2023-10-19 22:54:28,video,https://www.tiktokv.com/share/video/7262104728...,sms,22:54:28,10,22,22,10 PM,1,17-24
11512,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6958541219...,sms,22:52:28,10,22,22,10 PM,1,17-24
11513,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6988692228...,sms,22:52:28,10,22,22,10 PM,1,17-24
11514,2023-10-19,2023-10-19 22:48:38,video,https://www.tiktokv.com/share/video/7198636722...,sms,22:48:38,10,22,22,10 PM,1,17-24
11515,2023-10-19,2023-10-19 22:46:39,video,https://www.tiktokv.com/share/video/7263975887...,sms,22:46:39,10,22,22,10 PM,1,17-24

In [35]:
CleanedUpATD2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10553 entries, 0 to 11515
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Day                        10553 non-null  object
 1   Date                       10553 non-null  object
 2   SharedContent              10553 non-null  object
 3   Link                       10553 non-null  object
 4   Method                     10553 non-null  object
 5   Time                       10553 non-null  object
 6   Month                      10553 non-null  object
 7   Hour                       10553 non-null  object
 8   EST Military Hour          10553 non-null  int64
 9   EST Standard Hour          10553 non-null  object
 10  Numeric EST Standard Hour  10553 non-null  object
 11  Category_Military_Hour     10553 non-null  category
dtypes: category(1), int64(1), object(10)
memory usage: 999.8+ KB

In [36]:
CleanedUpATD2.describe()

       EST Military Hour
count       10553.000000
mean           16.213778
std             6.570632
min             1.000000
25%            15.000000
50%            17.000000
75%            22.000000
max            23.000000

In [37]:
CleanedUpATD2['EST Military Hour'] = CleanedUpATD2['EST Military Hour'].astype(int)
CleanedUpATD2['Month'] = CleanedUpATD2['Month'].astype(int)

In [38]:
CleanedUpATD2.describe()

              Month  EST Military Hour
count  10553.000000       10553.000000
mean       6.791434          16.213778
std        4.729991           6.570632
min        1.000000           1.000000
25%        1.000000          15.000000
50%       10.000000          17.000000
75%       10.000000          22.000000
max       12.000000          23.000000

In [39]:
CleanedUpATD2['Numeric EST Standard Hour'] = CleanedUpATD2['EST Standard Hour'].apply(lambda x: x[:2])
CleanedUpATD2['Numeric EST Standard Hour'] = CleanedUpATD2['Numeric EST Standard Hour'].astype(int)

In [40]:
CleanedUpATD2

,Day,Date,SharedContent,Link,Method,Time,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,2,23,23,11 PM,11,17-24
1,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,2,23,23,11 PM,11,17-24
2,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,2,23,23,11 PM,11,17-24
3,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,2,23,23,11 PM,11,17-24
4,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,chat_head,23:00:12,2,23,23,11 PM,11,17-24
...,...,...,...,...,...,...,...,...,...,...,...,...
11511,2023-10-19,2023-10-19 22:54:28,video,https://www.tiktokv.com/share/video/7262104728...,sms,22:54:28,10,22,22,10 PM,10,17-24
11512,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6958541219...,sms,22:52:28,10,22,22,10 PM,10,17-24
11513,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6988692228...,sms,22:52:28,10,22,22,10 PM,10,17-24
11514,2023-10-19,2023-10-19 22:48:38,video,https://www.tiktokv.com/share/video/7198636722...,sms,22:48:38,10,22,22,10 PM,10,17-24
11515,2023-10-19,2023-10-19 22:46:39,video,https://www.tiktokv.com/share/video/7263975887...,sms,22:46:39,10,22,22,10 PM,10,17-24

In [41]:
CleanedUpATD2.describe()

              Month  EST Military Hour  Numeric EST Standard Hour
count  10553.000000       10553.000000               10553.000000
mean       6.791434          16.213778                   6.650621
std        4.729991           6.570632                   3.067704
min        1.000000           1.000000                   1.000000
25%        1.000000          15.000000                   4.000000
50%       10.000000          17.000000                   6.000000
75%       10.000000          22.000000                  10.000000
max       12.000000          23.000000                  11.000000

In [42]:
WorkingDataSet = pd.get_dummies(CleanedUpATD2, columns=['Method'])

In [43]:
WorkingDataSet

,Day,Date,SharedContent,Link,Time,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour,Method_chat_head,Method_sms
0,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,23:00:12,2,23,23,11 PM,11,17-24,True,False
1,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,23:00:12,2,23,23,11 PM,11,17-24,True,False
2,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,23:00:12,2,23,23,11 PM,11,17-24,True,False
3,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,23:00:12,2,23,23,11 PM,11,17-24,True,False
4,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,23:00:12,2,23,23,11 PM,11,17-24,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11511,2023-10-19,2023-10-19 22:54:28,video,https://www.tiktokv.com/share/video/7262104728...,22:54:28,10,22,22,10 PM,10,17-24,False,True
11512,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6958541219...,22:52:28,10,22,22,10 PM,10,17-24,False,True
11513,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6988692228...,22:52:28,10,22,22,10 PM,10,17-24,False,True
11514,2023-10-19,2023-10-19 22:48:38,video,https://www.tiktokv.com/share/video/7198636722...,22:48:38,10,22,22,10 PM,10,17-24,False,True
11515,2023-10-19,2023-10-19 22:46:39,video,https://www.tiktokv.com/share/video/7263975887...,22:46:39,10,22,22,10 PM,10,17-24,False,True

In [44]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the 'category' column
CleanedUpATD2['Method'] = label_encoder.fit_transform(CleanedUpATD2['Method'])

In [45]:
CleanedUpATD2

,Day,Date,SharedContent,Link,Method,Time,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
1,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
2,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
3,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
4,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
...,...,...,...,...,...,...,...,...,...,...,...,...
11511,2023-10-19,2023-10-19 22:54:28,video,https://www.tiktokv.com/share/video/7262104728...,1,22:54:28,10,22,22,10 PM,10,17-24
11512,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6958541219...,1,22:52:28,10,22,22,10 PM,10,17-24
11513,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6988692228...,1,22:52:28,10,22,22,10 PM,10,17-24
11514,2023-10-19,2023-10-19 22:48:38,video,https://www.tiktokv.com/share/video/7198636722...,1,22:48:38,10,22,22,10 PM,10,17-24
11515,2023-10-19,2023-10-19 22:46:39,video,https://www.tiktokv.com/share/video/7263975887...,1,22:46:39,10,22,22,10 PM,10,17-24

In [46]:
CleanedUpATD2.describe()

,Method,Month,EST Military Hour,Numeric EST Standard Hour
count,10553.000000,10553.000000,10553.000000,10553.000000
mean,0.694779,6.791434,16.213778,6.650621
std,0.460523,4.729991,6.570632,3.067704
min,0.000000,1.000000,1.000000,1.000000
25%,0.000000,1.000000,15.000000,4.000000
50%,1.000000,10.000000,17.000000,6.000000
75%,1.000000,10.000000,22.000000,10.000000
max,1.000000,12.000000,23.000000,11.000000

In [47]:
CleanedUpATD2['Hour'] = CleanedUpATD2['Hour'].astype(int)

In [48]:
X = CleanedUpATD2[['Month','Numeric EST Standard Hour']]
X

       Month  Numeric EST Standard Hour
0          2                         11
1          2                         11
2          2                         11
3          2                         11
4          2                         11
...      ...                        ...
11511     10                         10
11512     10                         10
11513     10                         10
11514     10                         10
11515     10                         10

[10553 rows x 2 columns]

In [49]:
y = CleanedUpATD2[['Method']]

In [50]:
y

       Method
0           0
1           0
2           0
3           0
4           0
...       ...
11511       1
11512       1
11513       1
11514       1
11515       1

[10553 rows x 1 columns]

In [51]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [52]:
# Create a Decision Tree classifier
model = DecisionTreeClassifier()

In [53]:
# Fit the model on the training data
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [54]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [55]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.9551484523057486

### Instagram

In [56]:
MyComments

,Timestamp,Comments,MediaOwnerHolder,Actual Time,Actual Time in String,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,1708539162,This the typa content I like to see,austin__j11,2024-02-21 13:12:42,2024-02-21 13:12:42,02,13,13,1 PM,1,9-16
1,1704480918,you posted the miss? bold,selinagabs,2024-01-05 13:55:18,2024-01-05 13:55:18,01,13,13,1 PM,1,9-16
2,1704004187,aye we still friends right?,erin_tillery,2023-12-31 01:29:47,2023-12-31 01:29:47,12,01,1,1 AM,1,0-8
3,1703188044,Bigggg congrats Quack,_nicola_5,2023-12-21 14:47:24,2023-12-21 14:47:24,12,14,14,2 PM,2,9-16
4,1702775591,big congrats ð¤ð¿,lindsay_leeee,2023-12-16 20:13:11,2023-12-16 20:13:11,12,20,20,8 PM,8,17-24
...,...,...,...,...,...,...,...,...,...,...,...
1588,1423869872,1,nbaallstar,2015-02-13 18:24:32,2015-02-13 18:24:32,02,18,18,6 PM,6,17-24
1589,1423868878,1,miamiheat,2015-02-13 18:07:58,2015-02-13 18:07:58,02,18,18,6 PM,6,17-24
1590,1423359136,Yes I did,None,2015-02-07 20:32:16,2015-02-07 20:32:16,02,20,20,8 PM,8,17-24
1591,1422825861,Little late don't u think,None,2015-02-01 16:24:21,2015-02-01 16:24:21,02,16,16,4 PM,4,9-16
1592,1420497828,True,_nicola_5,2015-01-05 17:43:48,2015-01-05 17:43:48,01,17,17,5 PM,5,17-24

In [57]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the 'category' column
MyComments['MediaOwnerHolder'] = label_encoder.fit_transform(MyComments['MediaOwnerHolder'])

In [58]:
MyComments

,Timestamp,Comments,MediaOwnerHolder,Actual Time,Actual Time in String,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,1708539162,This the typa content I like to see,33,2024-02-21 13:12:42,2024-02-21 13:12:42,02,13,13,1 PM,1,9-16
1,1704480918,you posted the miss? bold,201,2024-01-05 13:55:18,2024-01-05 13:55:18,01,13,13,1 PM,1,9-16
2,1704004187,aye we still friends right?,86,2023-12-31 01:29:47,2023-12-31 01:29:47,12,01,1,1 AM,1,0-8
3,1703188044,Bigggg congrats Quack,12,2023-12-21 14:47:24,2023-12-21 14:47:24,12,14,14,2 PM,2,9-16
4,1702775591,big congrats ð¤ð¿,144,2023-12-16 20:13:11,2023-12-16 20:13:11,12,20,20,8 PM,8,17-24
...,...,...,...,...,...,...,...,...,...,...,...
1588,1423869872,1,174,2015-02-13 18:24:32,2015-02-13 18:24:32,02,18,18,6 PM,6,17-24
1589,1423868878,1,162,2015-02-13 18:07:58,2015-02-13 18:07:58,02,18,18,6 PM,6,17-24
1590,1423359136,Yes I did,241,2015-02-07 20:32:16,2015-02-07 20:32:16,02,20,20,8 PM,8,17-24
1591,1422825861,Little late don't u think,241,2015-02-01 16:24:21,2015-02-01 16:24:21,02,16,16,4 PM,4,9-16
1592,1420497828,True,12,2015-01-05 17:43:48,2015-01-05 17:43:48,01,17,17,5 PM,5,17-24

In [59]:
MyComments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1593 entries, 0 to 1592
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1593 non-null   int64
 1   Comments                   1571 non-null   object
 2   MediaOwnerHolder           1593 non-null   int32
 3   Actual Time                1593 non-null   datetime64[ns]
 4   Actual Time in String      1593 non-null   object
 5   Month                      1593 non-null   object
 6   Hour                       1593 non-null   object
 7   EST Military Hour          1593 non-null   int64
 8   EST Standard Hour          1593 non-null   object
 9   Numeric EST Standard Hour  1593 non-null   object
 10  Category_Military_Hour     1568 non-null   category
dtypes: category(1), datetime64[ns](1), int32(1), int64(2), object(6)
memory usage: 120.0+ KB

In [60]:
MyComments['Numeric EST Standard Hour'] = MyComments['Numeric EST Standard Hour'].astype(int)
MyComments['Hour'] = MyComments['Hour'].astype(int)
MyComments['Month'] = MyComments['Month'].astype(int)
#MyComments['Numeric EST Standard Hour'] = MyComments['Numeric EST Standard Hour'].astype(int)

In [61]:
MyComments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1593 entries, 0 to 1592
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  1593 non-null   int64
 1   Comments                   1571 non-null   object
 2   MediaOwnerHolder           1593 non-null   int32
 3   Actual Time                1593 non-null   datetime64[ns]
 4   Actual Time in String      1593 non-null   object
 5   Month                      1593 non-null   int32
 6   Hour                       1593 non-null   int32
 7   EST Military Hour          1593 non-null   int64
 8   EST Standard Hour          1593 non-null   object
 9   Numeric EST Standard Hour  1593 non-null   int32
 10  Category_Military_Hour     1568 non-null   category
dtypes: category(1), datetime64[ns](1), int32(4), int64(2), object(3)
memory usage: 101.4+ KB

In [62]:
NumericalFactors = MyComments[['Numeric EST Standard Hour','MediaOwnerHolder','Month','Hour','EST Military Hour']]
NumericalFactors

,Numeric EST Standard Hour,MediaOwnerHolder,Month,Hour,EST Military Hour
0,1,33,2,13,13
1,1,201,1,13,13
2,1,86,12,1,1
3,2,12,12,14,14
4,8,144,12,20,20
...,...,...,...,...,...
1588,6,174,2,18,18
1589,6,162,2,18,18
1590,8,241,2,20,20
1591,4,241,2,16,16
1592,5,12,1,17,17

In [63]:
skewness = NumericalFactors.skew()

In [64]:
print(skewness)

Numeric EST Standard Hour   -0.075773
MediaOwnerHolder            -0.647215
Month                       -0.052367
Hour                        -1.182649
EST Military Hour           -1.182649
dtype: float64

In [65]:
X = NumericalFactors[["Hour","Month"]]
y = NumericalFactors[["MediaOwnerHolder"]]

In [66]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [67]:
# Create a Decision Tree classifier
model = DecisionTreeClassifier()

In [68]:
# Fit the model on the training data
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [69]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [70]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.32217573221757323

In [71]:
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 5, 10, 15, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2', None]
}

In [72]:
dt_classifier = DecisionTreeClassifier()

In [73]:
# Perform Grid Search with cross-validation
grid_search = GridSearchCV(dt_classifier, param_grid, cv=5)
grid_search.fit(X_train, y_train)

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 5, 10, 15, 20],
                         'max_features': ['auto', 'sqrt', 'log2', None],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]})

In [74]:
# Get the best hyperparameters
best_params = grid_search.best_params_
print(f"Best hyperparameters: {best_params}")

Best hyperparameters: {'criterion': 'gini', 'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 4, 'min_samples_split': 10}

In [75]:
# Make predictions on the test data
y_pred = grid_search.predict(X_test)

In [76]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.42677824267782427

#### Post Information

In [77]:
SavedPosts

,Timestamp,HREF,Account,Actual Time,Actual Time in String,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,1709641684,https://www.instagram.com/p/C4HmXkRLFQr/,3.1415926535897932384626433832,2024-03-05 07:28:04,2024-03-05 07:28:04,03,07,7,7 AM,7,0-8
1,1709089505,https://www.instagram.com/p/C34BNBYrN4R/,pubity,2024-02-27 22:05:05,2024-02-27 22:05:05,02,22,22,10 PM,1,17-24
2,1709040643,https://www.instagram.com/p/C3i3yh_RPRK/,intrinsic_motion,2024-02-27 08:30:43,2024-02-27 08:30:43,02,08,8,8 AM,8,0-8
3,1708953155,https://www.instagram.com/p/C3yqyVZJzws/,bleacherreport,2024-02-26 08:12:35,2024-02-26 08:12:35,02,08,8,8 AM,8,0-8
4,1708832529,https://www.instagram.com/p/C3vJkbhLOJn/,sportscenter,2024-02-24 22:42:09,2024-02-24 22:42:09,02,22,22,10 PM,1,17-24
...,...,...,...,...,...,...,...,...,...,...,...
2720,1482887250,https://www.instagram.com/p/BOiqhV2jSEx/,houseofhighlights,2016-12-27 20:07:30,2016-12-27 20:07:30,12,20,20,8 PM,8,17-24
2721,1482612725,https://www.instagram.com/p/BOafebpDjA6/,daquan,2016-12-24 15:52:05,2016-12-24 15:52:05,12,15,15,3 PM,3,9-16
2722,1482459520,https://www.instagram.com/p/BN5PuXBA7HD/,kingbach,2016-12-22 21:18:40,2016-12-22 21:18:40,12,21,21,9 PM,9,17-24
2723,1482370434,https://www.instagram.com/p/BOSvLU_j-DT/,daquan,2016-12-21 20:33:54,2016-12-21 20:33:54,12,20,20,8 PM,8,17-24
2724,1482356325,https://www.instagram.com/p/BOS1pdOjeKm/,daquan,2016-12-21 16:38:45,2016-12-21 16:38:45,12,16,16,4 PM,4,9-16

In [78]:
SavedPosts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2725 entries, 0 to 2724
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  2725 non-null   int64
 1   HREF                       2725 non-null   object
 2   Account                    2725 non-null   object
 3   Actual Time                2725 non-null   datetime64[ns]
 4   Actual Time in String      2725 non-null   object
 5   Month                      2725 non-null   object
 6   Hour                       2725 non-null   object
 7   EST Military Hour          2725 non-null   int64
 8   EST Standard Hour          2725 non-null   object
 9   Numeric EST Standard Hour  2725 non-null   object
 10  Category_Military_Hour     2625 non-null   category
dtypes: category(1), datetime64[ns](1), int64(2), object(7)
memory usage: 215.8+ KB

In [79]:
# Initialize LabelEncoder
label_encoder = LabelEncoder()

# Fit and transform the 'category' column
SavedPosts['Account'] = label_encoder.fit_transform(SavedPosts['Account'])

In [80]:
SavedPosts['Numeric EST Standard Hour'] = SavedPosts['Numeric EST Standard Hour'].astype(int)
SavedPosts['EST Military Hour'] = SavedPosts['EST Military Hour'].astype(int)
SavedPosts['Hour'] = SavedPosts['Hour'].astype(int)
SavedPosts['Month'] = SavedPosts['Month'].astype(int)

In [81]:
SavedPosts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2725 entries, 0 to 2724
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Timestamp                  2725 non-null   int64
 1   HREF                       2725 non-null   object
 2   Account                    2725 non-null   int32
 3   Actual Time                2725 non-null   datetime64[ns]
 4   Actual Time in String      2725 non-null   object
 5   Month                      2725 non-null   int32
 6   Hour                       2725 non-null   int32
 7   EST Military Hour          2725 non-null   int32
 8   EST Standard Hour          2725 non-null   object
 9   Numeric EST Standard Hour  2725 non-null   int32
 10  Category_Military_Hour     2625 non-null   category
dtypes: category(1), datetime64[ns](1), int32(5), int64(1), object(3)
memory usage: 162.6+ KB

In [82]:
NumericalFactors = SavedPosts[['Numeric EST Standard Hour','Account','Month','Hour','EST Military Hour']]
NumericalFactors

      Numeric EST Standard Hour  Account  Month  Hour  EST Military Hour
0                             7        4      3     7                  7
1                             1      549      2    22                 22
2                             8      337      2     8                  8
3                             8       89      2     8                  8
4                             1      628      2    22                 22
...                         ...      ...    ...   ...                ...
2720                          8      313     12    20                 20
2721                          3      175     12    15                 15
2722                          9      371     12    21                 21
2723                          8      175     12    20                 20
2724                          4      175     12    16                 16

[2725 rows x 5 columns]

In [83]:
skewness = NumericalFactors.skew()

In [84]:
print(skewness)

Numeric EST Standard Hour    0.233521
Account                      0.327778
Month                        0.193057
Hour                        -0.758587
EST Military Hour           -0.758587
dtype: float64

In [85]:
X = NumericalFactors[["Hour","Month"]]
y = NumericalFactors[["Account"]]

In [86]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [87]:
# Create a Decision Tree classifier
model = DecisionTreeClassifier()

In [88]:
# Fit the model on the training data
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [89]:
# Make predictions on the test data
y_pred = model.predict(X_test)

In [90]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.05745721271393643

In [91]:
param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 5, 10, 15, 20],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2', None]
}

In [92]:
dt_classifier = DecisionTreeClassifier()

In [93]:
# Perform Grid Search with cross-validation
grid_search = GridSearchCV(dt_classifier, param_grid, cv=5)
grid_search.fit(X_train, y_train)

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

GridSearchCV(cv=5, estimator=DecisionTreeClassifier(),
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [None, 5, 10, 15, 20],
                         'max_features': ['auto', 'sqrt', 'log2', None],
                         'min_samples_leaf': [1, 2, 4],
                         'min_samples_split': [2, 5, 10]})

In [94]:
# Get the best hyperparameters
best_params = grid_search.best_params_
print(f"Best hyperparameters: {best_params}")

Best hyperparameters: {'criterion': 'gini', 'max_depth': 5, 'max_features': 'log2', 'min_samples_leaf': 2, 'min_samples_split': 10}

In [95]:
# Make predictions on the test data
y_pred = grid_search.predict(X_test)

In [96]:
# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)
print(f"Accuracy: {accuracy}")

Accuracy: 0.09168704156479218

### Combining The Data to Make Multiple Predictions

In [97]:
CleanedUpATD2

,Day,Date,SharedContent,Link,Method,Time,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
1,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
2,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
3,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
4,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
...,...,...,...,...,...,...,...,...,...,...,...,...
11511,2023-10-19,2023-10-19 22:54:28,video,https://www.tiktokv.com/share/video/7262104728...,1,22:54:28,10,22,22,10 PM,10,17-24
11512,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6958541219...,1,22:52:28,10,22,22,10 PM,10,17-24
11513,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6988692228...,1,22:52:28,10,22,22,10 PM,10,17-24
11514,2023-10-19,2023-10-19 22:48:38,video,https://www.tiktokv.com/share/video/7198636722...,1,22:48:38,10,22,22,10 PM,10,17-24
11515,2023-10-19,2023-10-19 22:46:39,video,https://www.tiktokv.com/share/video/7263975887...,1,22:46:39,10,22,22,10 PM,10,17-24

In [98]:
SavedPosts

,Timestamp,HREF,Account,Actual Time,Actual Time in String,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,1709641684,https://www.instagram.com/p/C4HmXkRLFQr/,4,2024-03-05 07:28:04,2024-03-05 07:28:04,3,7,7,7 AM,7,0-8
1,1709089505,https://www.instagram.com/p/C34BNBYrN4R/,549,2024-02-27 22:05:05,2024-02-27 22:05:05,2,22,22,10 PM,1,17-24
2,1709040643,https://www.instagram.com/p/C3i3yh_RPRK/,337,2024-02-27 08:30:43,2024-02-27 08:30:43,2,8,8,8 AM,8,0-8
3,1708953155,https://www.instagram.com/p/C3yqyVZJzws/,89,2024-02-26 08:12:35,2024-02-26 08:12:35,2,8,8,8 AM,8,0-8
4,1708832529,https://www.instagram.com/p/C3vJkbhLOJn/,628,2024-02-24 22:42:09,2024-02-24 22:42:09,2,22,22,10 PM,1,17-24
...,...,...,...,...,...,...,...,...,...,...,...
2720,1482887250,https://www.instagram.com/p/BOiqhV2jSEx/,313,2016-12-27 20:07:30,2016-12-27 20:07:30,12,20,20,8 PM,8,17-24
2721,1482612725,https://www.instagram.com/p/BOafebpDjA6/,175,2016-12-24 15:52:05,2016-12-24 15:52:05,12,15,15,3 PM,3,9-16
2722,1482459520,https://www.instagram.com/p/BN5PuXBA7HD/,371,2016-12-22 21:18:40,2016-12-22 21:18:40,12,21,21,9 PM,9,17-24
2723,1482370434,https://www.instagram.com/p/BOSvLU_j-DT/,175,2016-12-21 20:33:54,2016-12-21 20:33:54,12,20,20,8 PM,8,17-24
2724,1482356325,https://www.instagram.com/p/BOS1pdOjeKm/,175,2016-12-21 16:38:45,2016-12-21 16:38:45,12,16,16,4 PM,4,9-16

In [99]:
MyComments

,Timestamp,Comments,MediaOwnerHolder,Actual Time,Actual Time in String,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,1708539162,This the typa content I like to see,33,2024-02-21 13:12:42,2024-02-21 13:12:42,2,13,13,1 PM,1,9-16
1,1704480918,you posted the miss? bold,201,2024-01-05 13:55:18,2024-01-05 13:55:18,1,13,13,1 PM,1,9-16
2,1704004187,aye we still friends right?,86,2023-12-31 01:29:47,2023-12-31 01:29:47,12,1,1,1 AM,1,0-8
3,1703188044,Bigggg congrats Quack,12,2023-12-21 14:47:24,2023-12-21 14:47:24,12,14,14,2 PM,2,9-16
4,1702775591,big congrats ð¤ð¿,144,2023-12-16 20:13:11,2023-12-16 20:13:11,12,20,20,8 PM,8,17-24
...,...,...,...,...,...,...,...,...,...,...,...
1588,1423869872,1,174,2015-02-13 18:24:32,2015-02-13 18:24:32,2,18,18,6 PM,6,17-24
1589,1423868878,1,162,2015-02-13 18:07:58,2015-02-13 18:07:58,2,18,18,6 PM,6,17-24
1590,1423359136,Yes I did,241,2015-02-07 20:32:16,2015-02-07 20:32:16,2,20,20,8 PM,8,17-24
1591,1422825861,Little late don't u think,241,2015-02-01 16:24:21,2015-02-01 16:24:21,2,16,16,4 PM,4,9-16
1592,1420497828,True,12,2015-01-05 17:43:48,2015-01-05 17:43:48,1,17,17,5 PM,5,17-24

In [100]:
JoinedOnTime

,Date,Link,Time,Day,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-04-08 23:49:33,https://www.tiktokv.com/share/video/7337000215...,23:49:33,2024-04-08,04,23,23,11 PM,1,17-24
1,2024-01-14 23:49:33,https://www.tiktokv.com/share/video/7322950080...,23:49:33,2024-01-14,01,23,23,11 PM,1,17-24
2,2023-12-22 23:49:33,https://www.tiktokv.com/share/video/7311885629...,23:49:33,2023-12-22,12,23,23,11 PM,1,17-24
3,2024-04-08 20:51:22,https://www.tiktokv.com/share/video/7351419307...,20:51:22,2024-04-08,04,20,20,8 PM,8,17-24
4,2024-04-08 18:36:05,https://www.tiktokv.com/share/video/7355469113...,18:36:05,2024-04-08,04,18,18,6 PM,6,17-24
...,...,...,...,...,...,...,...,...,...,...
1628,2023-10-12 21:54:07,https://www.tiktokv.com/share/video/7289139120...,21:54:07,2023-10-12,10,21,21,9 PM,9,17-24
1629,2023-10-12 20:49:51,https://www.tiktokv.com/share/video/7289129130...,20:49:51,2023-10-12,10,20,20,8 PM,8,17-24
1630,2023-10-12 20:47:08,https://www.tiktokv.com/share/video/7289086071...,20:47:08,2023-10-12,10,20,20,8 PM,8,17-24
1631,2023-10-12 13:06:39,https://www.tiktokv.com/share/video/7280460196...,13:06:39,2023-10-12,10,13,13,1 PM,1,9-16
1632,2023-10-12 03:14:03,https://www.tiktokv.com/share/video/7288815299...,03:14:03,2023-10-12,10,03,3,3 AM,3,0-8

In [101]:
JoinedOnLink

,Date,Link,Time,Day,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-03-13 00:56:45,https://www.tiktokv.com/share/video/7345482887...,00:56:45,2024-03-13,03,00,0,0 AM,0,NaN
1,2024-02-29 20:27:48,https://www.tiktokv.com/share/video/7335545859...,20:27:48,2024-02-29,02,20,20,8 PM,8,17-24
2,2024-02-21 17:13:37,https://www.tiktokv.com/share/video/7311900352...,17:13:37,2024-02-21,02,17,17,5 PM,5,17-24
3,2024-02-18 02:55:09,https://www.tiktokv.com/share/video/7336709865...,02:55:09,2024-02-18,02,02,2,2 AM,2,0-8
4,2024-02-15 00:06:50,https://www.tiktokv.com/share/video/7333747257...,00:06:50,2024-02-15,02,00,0,0 AM,0,NaN
5,2024-02-14 13:28:40,https://www.tiktokv.com/share/video/7334746282...,13:28:40,2024-02-14,02,13,13,1 PM,1,9-16
6,2024-02-13 13:37:31,https://www.tiktokv.com/share/video/7333974039...,13:37:31,2024-02-13,02,13,13,1 PM,1,9-16
7,2024-02-04 16:29:09,https://www.tiktokv.com/share/video/7317157308...,16:29:09,2024-02-04,02,16,16,4 PM,4,9-16
8,2024-01-31 03:21:41,https://www.tiktokv.com/share/video/7329573805...,03:21:41,2024-01-31,01,03,3,3 AM,3,0-8
9,2024-01-29 19:46:39,https://www.tiktokv.com/share/video/7329305628...,19:46:39,2024-01-29,01,19,19,7 PM,7,17-24
10,2024-01-27 21:30:55,https://www.tiktokv.com/share/video/7206098982...,21:30:55,2024-01-27,01,21,21,9 PM,9,17-24
11,2024-01-24 23:40:07,https://www.tiktokv.com/share/video/7327812419...,23:40:07,2024-01-24,01,23,23,11 PM,1,17-24
12,2024-01-13 05:50:09,https://www.tiktokv.com/share/video/7320367757...,05:50:09,2024-01-13,01,05,5,5 AM,5,0-8
13,2024-01-12 22:36:45,https://www.tiktokv.com/share/video/7318857350...,22:36:45,2024-01-12,01,22,22,10 PM,1,17-24
14,2024-01-07 04:55:20,https://www.tiktokv.com/share/video/7318857350...,04:55:20,2024-01-07,01,04,4,4 AM,4,0-8
15,2024-01-03 16:33:05,https://www.tiktokv.com/share/video/7318857350...,16:33:05,2024-01-03,01,16,16,4 PM,4,9-16
16,2024-01-10 03:26:01,https://www.tiktokv.com/share/video/7316968226...,03:26:01,2024-01-10,01,03,3,3 AM,3,0-8
17,2024-01-05 12:06:25,https://www.tiktokv.com/share/video/7320359971...,12:06:25,2024-01-05,01,12,12,0 PM,0,9-16
18,2024-01-04 19:02:57,https://www.tiktokv.com/share/video/7320298835...,19:02:57,2024-01-04,01,19,19,7 PM,7,17-24
19,2023-12-15 17:04:55,https://www.tiktokv.com/share/video/7312533262...,17:04:55,2023-12-15,12,17,17,5 PM,5,17-24
20,2023-12-15 14:51:21,https://www.tiktokv.com/share/video/7308133609...,14:51:21,2023-12-15,12,14,14,2 PM,2,9-16
21,2023-12-03 16:17:23,https://www.tiktokv.com/share/video/7308133609...,16:17:23,2023-12-03,12,16,16,4 PM,4,9-16
22,2023-12-13 22:46:45,https://www.tiktokv.com/share/video/7299184462...,22:46:45,2023-12-13,12,22,22,10 PM,1,17-24
23,2023-12-06 03:54:28,https://www.tiktokv.com/share/video/7306232369...,03:54:28,2023-12-06,12,03,3,3 AM,3,0-8
24,2023-12-01 20:30:39,https://www.tiktokv.com/share/video/7307706129...,20:30:39,2023-12-01,12,20,20,8 PM,8,17-24
25,2023-11-30 02:00:42,https://www.tiktokv.com/share/video/7305611344...,02:00:42,2023-11-30,11,02,2,2 AM,2,0-8
26,2023-11-27 00:52:35,https://www.tiktokv.com/share/video/7305611344...,00:52:35,2023-11-27,11,00,0,0 AM,0,NaN
27,2023-11-26 19:51:38,https://www.tiktokv.com/share/video/7305611344...,19:51:38,2023-11-26,11,19,19,7 PM,7,17-24
28,2023-11-28 03:04:32,https://www.tiktokv.com/share/video/7301330118...,03:04:32,2023-11-28,11,03,3,3 AM,3,0-8
29,2023-11-25 01:57:24,https://www.tiktokv.com/share/video/7267966908...,01:57:24,2023-11-25,11,01,1,1 AM,1,0-8
30,2023-11-18 04:42:23,https://www.tiktokv.com/share/video/7204709589...,04:42:23,2023-11-18,11,04,4,4 AM,4,0-8
31,2023-11-13 20:42:30,https://www.tiktokv.com/share/video/7300977024...,20:42:30,2023-11-13,11,20,20,8 PM,8,17-24
32,2023-11-07 01:19:46,https://www.tiktokv.com/share/video/7298109084...,01:19:46,2023-11-07,11,01,1,1 AM,1,0-8
33,2023-11-01 16:17:55,https://www.tiktokv.com/share/video/7288332663...,16:17:55,2023-11-01,11,16,16,4 PM,4,9-16
34,2023-10-23 12:08:39,https://www.tiktokv.com/share/video/7288332663...,12:08:39,2023-10-23,10,12,12,0 PM,0,9-16
35,2023-10-19 15:26:43,https://www.tiktokv.com/share/video/7288332663...,15:26:43,2023-10-19,10,15,15,3 PM,3,9-16
36,2023-10-15 12:04:23,https://www.tiktokv.com/share/video/7288332663...,12:04:23,2023-10-15,10,12,12,0 PM,0,9-16
37,2023-10-13 13:38:15,https://www.tiktokv.com/share/video/7288332663...,13:38:15,2023-10-13,10,13,13,1 PM,1,9-16
38,2023-10-12 21:45:37,https://www.tiktokv.com/share/video/7288332663...,21:45:37,2023-10-12,10,21,21,9 PM,9,17-24
39,2023-10-31 20:35:22,https://www.tiktokv.com/share/video/7295810032...,20:35:22,2023-10-31,10,20,20,8 PM,8,17-24
40,2023-10-27 16:05:19,https://www.tiktokv.com/share/video/7280705978...,16:05:19,2023-10-27,10,16,16,4 PM,4,9-16
41,2023-10-13 21:13:55,https://www.tiktokv.com/share/video/7280705978...,21:13:55,2023-10-13,10,21,21,9 PM,9,17-24
42,2023-10-27 15:55:14,https://www.tiktokv.com/share/video/7288062899...,15:55:14,2023-10-27,10,15,15,3 PM,3,9-16
43,2023-10-27 13:45:12,https://www.tiktokv.com/share/video/7292906983...,13:45:12,2023-10-27,10,13,13,1 PM,1,9-16
44,2023-10-23 21:44:37,https://www.tiktokv.com/share/video/7292906983...,21:44:37,2023-10-23,10,21,21,9 PM,9,17-24
45,2023-10-25 18:25:11,https://www.tiktokv.com/share/video/7288812518...,18:25:11,2023-10-25,10,18,18,6 PM,6,17-24
46,2023-10-12 03:06:13,https://www.tiktokv.com/share/video/7288812518...,03:06:13,2023-10-12,10,03,3,3 AM,3,0-8
47,2023-10-20 12:16:27,https://www.tiktokv.com/share/video/7272795477...,12:16:27,2023-10-20,10,12,12,0 PM,0,9-16
48,2023-10-20 12:08:00,https://www.tiktokv.com/share/video/7286182651...,12:08:00,2023-10-20,10,12,12,0 PM,0,9-16
49,2023-10-13 11:44:05,https://www.tiktokv.com/share/video/7286182651...,11:44:05,2023-10-13,10,11,11,11 AM,1,9-16
50,2023-10-12 20:43:33,https://www.tiktokv.com/share/video/7286182651...,20:43:33,2023-10-12,10,20,20,8 PM,8,17-24
51,2023-10-19 12:21:01,https://www.tiktokv.com/share/video/7291408085...,12:21:01,2023-10-19,10,12,12,0 PM,0,9-16

### XGBoost - for Combo prediction

In [102]:
import xgboost as xgb

In [103]:
from sklearn.model_selection import GridSearchCV

In [104]:
# Create an XGBoost classifier
clf = xgb.XGBClassifier(objective="binary:logistic", random_state=42)

In [105]:
# Train the classifier
clf.fit(X_train, y_train)

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(objective='multi:softprob', random_state=42)

In [106]:
# Make predictions
y_pred = clf.predict(X_test)

In [107]:
# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.08068459657701711

In [108]:
# Create the XGBoost model object
xgb_model = xgb.XGBClassifier(objective='multi:softprob')

In [109]:
# Define the hyperparameter grid
param_grid = {
    'max_depth': [3, 5, 7],
    'learning_rate': [0.1, 0.01, 0.001],
    'subsample': [0.5, 0.7, 1]
}

In [110]:
# Create the GridSearchCV object
grid_search = GridSearchCV(xgb_model, param_grid, cv=2, scoring='accuracy')

In [111]:
# Fit the GridSearchCV object to the training data
grid_search.fit(X_train, y_train.values.ravel())

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=2.
  warnings.warn(

GridSearchCV(cv=2, estimator=XGBClassifier(objective='multi:softprob'),
             param_grid={'learning_rate': [0.1, 0.01, 0.001],
                         'max_depth': [3, 5, 7], 'subsample': [0.5, 0.7, 1]},
             scoring='accuracy')

In [112]:
# Print the best set of hyperparameters and the corresponding score
print("Best set of hyperparameters: ", grid_search.best_params_)
print("Best score: ", grid_search.best_score_)

Best set of hyperparameters:  {'learning_rate': 0.01, 'max_depth': 3, 'subsample': 0.5}
Best score:  0.08494855702284082

In [139]:
'''
The purpose of this function is to take in the three datasets, the hour, and the month, and output three different probabilies based 
on the three datasets

@DatasetOne -  Saved Posts
@DatasetTwo - MyComments
@DatasetThree - CleanedUPATD2
@Hour -  THe hour you want to predict 
@Month -  The month you want to predict

'''

def CombineXGBoostPredictions(DatasetOne,DataSetTwo,DataSetThree):
    
    DataSetOne = DatasetOne
    DataSetTwo = DataSetTwo
    #DataSetThree = DataSetThree

    NumericalFactorsOne = DataSetOne[['Numeric EST Standard Hour','Account','Month','Hour','EST Military Hour']]

    XOne = NumericalFactorsOne[["Hour","Month"]]
    yOne = NumericalFactorsOne[["Account"]]

    NumericalFactorsTwo = DataSetTwo[['Numeric EST Standard Hour','MediaOwnerHolder','Month','Hour','EST Military Hour']]

    XTwo = NumericalFactorsTwo[["Hour","Month"]]
    yTwo = NumericalFactorsTwo[["MediaOwnerHolder"]]
    

    XThree = DataSetThree[['Month','Numeric EST Standard Hour']]
    #X


    yThree = DataSetThree[['Method']]
    #y
      
    
    MainXGBModel = xgb.XGBClassifier(objective="binary:logistic", random_state=42)


    
    X_trainOne, X_testOne, y_trainOne, y_testOne = train_test_split(XOne, yOne, test_size=0.3, random_state=101)
    X_trainTwo, X_testTwo, y_trainTwo, y_testTwo = train_test_split(XTwo, yTwo, test_size=0.3, random_state=101)
    #X_trainThree, X_testThree, y_trainThree, y_testThree = train_test_split(XThree, yThree, test_size=0.3, random_state=101)
    
   

    #------------------------------------------------------------------------------------------------#
    MainXGBModel.fit(X_trainOne, y_trainOne)
    # Make predictions
    y_predOne = MainXGBModel.predict(X_testOne)
    
    # Evaluate the model
    accuracyOne = accuracy_score(y_test, y_predOne)
    print("Accuracy for Number One:", accuracyOne)
    
    #------------------------------------------------------------------------------------------------#
    MainXGBModel.fit(X_trainTwo, y_trainTwo)
    # Make predictions
    y_predTwo = MainXGBModel.predict(X_testTwo)
    
    # Evaluate the model
    accuracyTwo = accuracy_score(y_testTwo, y_predTwo)
    print("Accuracy for Number Two:", accuracyTwo)
    
    #------------------------------------------------------------------------------------------------#
    #MainXGBModel.fit(X_trainThree,y_trainThree)
    # Make predictions
    #y_predThree = MainXGBModel.predict(X_testThree)
    
    # Evaluate the model
    #accuracyThree = accuracy_score(y_testThree, y_predThree)
    #print("Accuracy for Number Three:", accuracyThree)
    print("For some reason the third model doesn't run inside the function, yet runs outside the function.")

### True Combination

In [121]:
SavedPosts

,Timestamp,HREF,Account,Actual Time,Actual Time in String,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,1709641684,https://www.instagram.com/p/C4HmXkRLFQr/,4,2024-03-05 07:28:04,2024-03-05 07:28:04,3,7,7,7 AM,7,0-8
1,1709089505,https://www.instagram.com/p/C34BNBYrN4R/,549,2024-02-27 22:05:05,2024-02-27 22:05:05,2,22,22,10 PM,1,17-24
2,1709040643,https://www.instagram.com/p/C3i3yh_RPRK/,337,2024-02-27 08:30:43,2024-02-27 08:30:43,2,8,8,8 AM,8,0-8
3,1708953155,https://www.instagram.com/p/C3yqyVZJzws/,89,2024-02-26 08:12:35,2024-02-26 08:12:35,2,8,8,8 AM,8,0-8
4,1708832529,https://www.instagram.com/p/C3vJkbhLOJn/,628,2024-02-24 22:42:09,2024-02-24 22:42:09,2,22,22,10 PM,1,17-24
...,...,...,...,...,...,...,...,...,...,...,...
2720,1482887250,https://www.instagram.com/p/BOiqhV2jSEx/,313,2016-12-27 20:07:30,2016-12-27 20:07:30,12,20,20,8 PM,8,17-24
2721,1482612725,https://www.instagram.com/p/BOafebpDjA6/,175,2016-12-24 15:52:05,2016-12-24 15:52:05,12,15,15,3 PM,3,9-16
2722,1482459520,https://www.instagram.com/p/BN5PuXBA7HD/,371,2016-12-22 21:18:40,2016-12-22 21:18:40,12,21,21,9 PM,9,17-24
2723,1482370434,https://www.instagram.com/p/BOSvLU_j-DT/,175,2016-12-21 20:33:54,2016-12-21 20:33:54,12,20,20,8 PM,8,17-24
2724,1482356325,https://www.instagram.com/p/BOS1pdOjeKm/,175,2016-12-21 16:38:45,2016-12-21 16:38:45,12,16,16,4 PM,4,9-16

In [122]:
MyComments

,Timestamp,Comments,MediaOwnerHolder,Actual Time,Actual Time in String,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,1708539162,This the typa content I like to see,33,2024-02-21 13:12:42,2024-02-21 13:12:42,2,13,13,1 PM,1,9-16
1,1704480918,you posted the miss? bold,201,2024-01-05 13:55:18,2024-01-05 13:55:18,1,13,13,1 PM,1,9-16
2,1704004187,aye we still friends right?,86,2023-12-31 01:29:47,2023-12-31 01:29:47,12,1,1,1 AM,1,0-8
3,1703188044,Bigggg congrats Quack,12,2023-12-21 14:47:24,2023-12-21 14:47:24,12,14,14,2 PM,2,9-16
4,1702775591,big congrats ð¤ð¿,144,2023-12-16 20:13:11,2023-12-16 20:13:11,12,20,20,8 PM,8,17-24
...,...,...,...,...,...,...,...,...,...,...,...
1588,1423869872,1,174,2015-02-13 18:24:32,2015-02-13 18:24:32,2,18,18,6 PM,6,17-24
1589,1423868878,1,162,2015-02-13 18:07:58,2015-02-13 18:07:58,2,18,18,6 PM,6,17-24
1590,1423359136,Yes I did,241,2015-02-07 20:32:16,2015-02-07 20:32:16,2,20,20,8 PM,8,17-24
1591,1422825861,Little late don't u think,241,2015-02-01 16:24:21,2015-02-01 16:24:21,2,16,16,4 PM,4,9-16
1592,1420497828,True,12,2015-01-05 17:43:48,2015-01-05 17:43:48,1,17,17,5 PM,5,17-24

In [123]:
CleanedUpATD2

,Day,Date,SharedContent,Link,Method,Time,Month,Hour,EST Military Hour,EST Standard Hour,Numeric EST Standard Hour,Category_Military_Hour
0,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
1,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
2,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
3,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
4,2024-02-14,2024-02-14 23:00:12,video,https://www.tiktokv.com/share/video/7335570524...,0,23:00:12,2,23,23,11 PM,11,17-24
...,...,...,...,...,...,...,...,...,...,...,...,...
11511,2023-10-19,2023-10-19 22:54:28,video,https://www.tiktokv.com/share/video/7262104728...,1,22:54:28,10,22,22,10 PM,10,17-24
11512,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6958541219...,1,22:52:28,10,22,22,10 PM,10,17-24
11513,2023-10-19,2023-10-19 22:52:28,video,https://www.tiktokv.com/share/video/6988692228...,1,22:52:28,10,22,22,10 PM,10,17-24
11514,2023-10-19,2023-10-19 22:48:38,video,https://www.tiktokv.com/share/video/7198636722...,1,22:48:38,10,22,22,10 PM,10,17-24
11515,2023-10-19,2023-10-19 22:46:39,video,https://www.tiktokv.com/share/video/7263975887...,1,22:46:39,10,22,22,10 PM,10,17-24

In [129]:
XThree = CleanedUpATD2[['Month','Numeric EST Standard Hour']]
yThree = CleanedUpATD2[['Method']]

In [130]:
X_trainThree, X_testThree, y_trainThree, y_testThree = train_test_split(XThree, yThree, test_size=0.3, random_state=101)

In [131]:
y_trainThree

      Method
2649       0
1675       0
24         0
3067       0
193        0
...      ...
599        1
6620       0
8969       1
1361       1
1547       1

[7387 rows x 1 columns]

In [133]:
X_trainThree

      Month  Numeric EST Standard Hour
2649      1                          5
1675      1                          5
24        2                         11
3067      1                          5
193       2                         11
...     ...                        ...
599       2                          4
6620     12                          5
8969     10                         10
1361      2                          4
1547      2                          4

[7387 rows x 2 columns]

In [132]:
MainXGBModel = xgb.XGBClassifier(objective="binary:logistic", random_state=42)

In [134]:
MainXGBModel.fit(X_trainThree,y_trainThree)

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBClassifier(random_state=42)

In [136]:
X_testThree

       Month  Numeric EST Standard Hour
3078       1                          1
1811       1                          5
2135       1                          5
11226     10                         10
3824       1                          1
...      ...                        ...
6158      12                          6
10092     10                         10
9561      10                         10
3907       1                          5
10940     10                         10

[3166 rows x 2 columns]

In [137]:
y_predThree = MainXGBModel.predict(X_testThree)

In [138]:
# Evaluate the model
accuracyThree = accuracy_score(y_testThree, y_predThree)
print("Accuracy for Number Three:", accuracyThree)

Accuracy for Number Three: 0.9551484523057486

In [140]:
CombineXGBoostPredictions(SavedPosts,MyComments,CleanedUpATD2)

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy for Number One: 0.08068459657701711

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy for Number Two: 0.4476987447698745

C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\MoJo\anaconda3\lib\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

XGBoostError: value 0 for Parameter num_class should be greater equal to 1

### All Done!