In [1]:
import pyspark

from pyspark.sql import SparkSession

from pyspark.sql.functions import col

from pyspark.sql.functions import desc

from pyspark.sql.functions import asc

import findspark

from pyspark.sql.types import StructType, StructField, StringType, IntegerType

import pandas as pd

In [2]:
spark = SparkSession.builder.appName('Pro4x100M').enableHiveSupport().getOrCreate()

In [3]:
ProMens4x100m = spark.read.format('csv').option('inferSchema','true').option('header','true').option('path','ProMens4x100m.csv').load()

ProWomens4x100m = spark.read.format('csv').option('inferSchema','true').option('header','true').option('path','ProWomens4x100m.csv').load()

In [4]:
ProMens4x100m.createOrReplaceTempView("ProMens4x100m")

ProWomens4x100m.createOrReplaceTempView("ProWomens4x100m")

In [5]:
resultOne = spark.sql("SELECT * FROM ProMens4x100m")
resultOne.show()

+--------+-----+-------------------+--------------+----------+
|RANKINGS|TIMES|               TEAM|      LOCATION|   RUNYEAR|
+--------+-----+-------------------+--------------+----------+
|       1|36.84|            Jamaica|        London|11.08.2012|
|       2|37.04|            Jamaica|         Daegu|04.09.2011|
|       3|37.10|      United States|     Ad-Dawhah|05.10.2019|
|       4|37.27|            Jamaica|Rio de Janeiro|19.08.2016|
|       5|37.31|            Jamaica|        Berlin|22.08.2009|
|       6|37.36|            Jamaica|        Moskva|18.08.2013|
|       6|37.36|            Jamaica|       Beijing|29.08.2015|
|       6|37.36|Great Britain &N.I.|     Ad-Dawhah|05.10.2019|
|       9|37.38|      United States|        Nassau|02.05.2015|
|      10|37.39|            Jamaica|        London|10.08.2012|
|      11|37.40|      United States|     Barcelona|08.08.1992|
|      11|37.40|      United States|     Stuttgart|21.08.1993|
|      13|37.41|            Jamaica|       Beijing|29.08.2015|
|      14|37.43|              Japan|     Ad-Dawhah|05.10.2019|
|      15|37.45|      United States|        Zürich|19.08.2010|
|      16|37.46|  Racers Track Club|        London|25.07.2009|
|      17|37.47|Great Britain &N.I.|        London|12.08.2017|
|      18|37.48|      United States|     Stuttgart|22.08.1993|
|      18|37.48|             Canada|        Eugene|23.07.2022|
|      20|37.50|      United States|         Tokyo|01.09.1991|
+--------+-----+-------------------+--------------+----------+
only showing top 20 rows

In [6]:

resultTwo = spark.sql("SELECT * FROM ProWomens4x100m")
resultTwo.show()

+--------+-----+--------------------+--------------+----------+
|RANKINGS|TIMES|                TEAM|      LOCATION|   RUNYEAR|
+--------+-----+--------------------+--------------+----------+
|       1|40.82|       United States|        London|10.08.2012|
|       2|41.01|       United States|Rio de Janeiro|19.08.2016|
|       3|41.02|             Jamaica|         Tokyo|06.08.2021|
|       4|41.07|             Jamaica|       Beijing|29.08.2015|
|       5|41.14|       United States|        Eugene|23.07.2022|
|       6|41.18|             Jamaica|        Eugene|23.07.2022|
|       7|41.29|             Jamaica|        Moskva|18.08.2013|
|       8|41.36|             Jamaica|Rio de Janeiro|19.08.2016|
|       9|41.37|German Democratic...|      Canberra|06.10.1985|
|      10|41.41|             Jamaica|        London|10.08.2012|
|      11|41.44|             Jamaica|     Ad-Dawhah|05.10.2019|
|      12|41.45|       United States|         Tokyo|06.08.2021|
|      13|41.47|       United States|       Athínai|09.08.1997|
|      14|41.49|              Russia|     Stuttgart|22.08.1993|
|      14|41.49|       United States|     Stuttgart|22.08.1993|
|      16|41.52|       United States|       Athínai|08.08.1997|
|      17|41.53|German Democratic...|        Berlin|31.07.1983|
|      18|41.55|       United States|        Berlin|21.08.1987|
|      18|41.55| Great Britain &N.I.|         Tokyo|05.08.2021|
|      18|41.55| University of Texas|        Austin|08.06.2023|
+--------+-----+--------------------+--------------+----------+
only showing top 20 rows