## Import Packages

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
from pyspark.sql.functions import col

In [4]:
from pyspark.sql.functions import desc

In [5]:
from pyspark.sql.functions import asc

In [6]:
import findspark

In [7]:
findspark.init()

In [8]:
spark = SparkSession.builder.appName('400M').getOrCreate()

## Load the Data

In [9]:
Mens400m = spark.read.format('csv').option('inferSchema','true').option('header','true').option('path','OutdoorMens400m.csv').load()

In [10]:
Womens400m = spark.read.format('csv').option('inferSchema','true').option('header','true').option('path','OutdoorWomens400m.csv').load()

In [11]:
IndoorMens400m = spark.read.format('csv').option('inferSchema','true').option('header','true').option('path','IndoorMens400m.csv').load()

In [12]:
IndoorWomens400m = spark.read.format('csv').option('inferSchema','true').option('header','true').option('path','IndoorWomens400m.csv').load()

In [13]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

## Create Views

In [14]:
Mens400m.createOrReplaceTempView("Mens400m")

In [15]:
Womens400m.createOrReplaceTempView("Womens400m")

In [16]:
IndoorMens400m.createOrReplaceTempView("IndoorMens400m")

In [17]:
IndoorWomens400m.createOrReplaceTempView("IndoorWomens400m")

## Selection

In [18]:
resultone = spark.sql("SELECT * FROM Mens400m")
resultone.show()

+--------------------+-----+-------------------+
|               Names|Times|            Schools|
+--------------------+-----+-------------------+
|(1) Michael NORMANSO|43.61|Southern California|
|   (2) Fred KERLEYSR| 43.7|          Texas A&M|
| (3) Randolph ROSSSO|43.85| North Carolina A&T|
|(4) Akeem BLOOMFI...|43.94|             Auburn|
|  (5) Quincy WATTSSR| 44.0|Southern California|
|      — Kerley {2}SR|44.09|          Texas A&M|
|      — Kerley {3}SR| 44.1|          Texas A&M|
|  (6) Butch REYNOLDS| 44.1|         Ohio State|
|        — Ross {2}JR|44.13| North Carolina A&T|
|  (7) Nathon ALLENSO|44.13|             Auburn|
|    — Reynolds {2}JR|44.13|         Ohio State|
|    (8) Jerome YOUNG|44.19|  Saint Augustine's|
|        — Ross {3}JR|44.23| North Carolina A&T|
|(9) Kahmari MONTG...|44.23|            Houston|
|(10) Emmanuel BAM...|44.24|            Florida|
|  (11) Ryan WILLIEJR|44.25|            Florida|
|(11) Trevor STEWA...|44.25| North Carolina A&T|
|      — Willie {2}JR|44.27|            Florida|
|(13) Darold WILLI...|44.27|             Baylor|
|       — Allen {2}SO|44.28|             Auburn|
+--------------------+-----+-------------------+
only showing top 20 rows

In [19]:
resulttwo = spark.sql("SELECT * FROM Womens400m")
resulttwo.show()

+--------------------+-----+-------------------+
|               Names|Times|            Schools|
+--------------------+-----+-------------------+
|(1) Britton WILSONJR|49.13|           Arkansas|
|(2) Rhasidat ADEL...| 49.2|              Texas|
|      — Wilson {2}JR|49.36|           Arkansas|
|      — Wilson {3}JR| 49.4|           Arkansas|
|      — Wilson {4}JR|49.51|           Arkansas|
|      — Wilson {5}JR|49.51|           Arkansas|
|     — Adeleke {2}JR|49.54|              Texas|
|     (3) Athing MUFR|49.57|          Texas A&M|
|      — Wilson {6}JR|49.64|           Arkansas|
|          — Mu {2}FR|49.68|          Texas A&M|
|(4) Courtney OKOLOSR|49.71|              Texas|
|    (5) Lynna IRBYFR| 49.8|            Georgia|
|          — Mu {3}FR|49.84|          Texas A&M|
|     — Adeleke {3}JR|49.86|              Texas|
|(6) Charokee YOUNGSO|49.87|          Texas A&M|
|     — Adeleke {4}JR| 49.9|              Texas|
| (7) Talitha DIGGSSO|49.99|            Florida|
| (7) Kendall ELLISSR|49.99|Southern California|
|       — Young {2}SO| 50.0|          Texas A&M|
|       — Okolo {2}SO|50.03|              Texas|
+--------------------+-----+-------------------+
only showing top 20 rows

In [20]:
resultthree = spark.sql("SELECT * FROM IndoorWomens400m")
resultthree.show()

+--------------------+-----+-------------------+
|               Names|Times|            Schools|
+--------------------+-----+-------------------+
|(1) Britton WILSONSO|49.48|           Arkansas|
| (2) Talitha DIGGSSO|50.15|            Florida|
|(3) Rhasidat ADEL...|50.33|              Texas|
| (4) Kendall ELLISSR|50.34|Southern California|
|(5) Sydney MCLAUG...|50.36|           Kentucky|
|     — Adeleke {2}SO|50.45|              Texas|
|     — Adeleke {3}SO|50.45|              Texas|
| (6) Phyllis FRANCIS|50.46|             Oregon|
|       — Diggs {2}SO|50.49|            Florida|
|     (7) Athing MUFR|50.52|          Texas A&M|
|  — McLaughlin {2}FR|50.52|           Kentucky|
| (8) Rosey EFFIONGJR|50.54|           Arkansas|
|(8) Francena MCCO...|50.54|            Hampton|
|   (10) Lynna IRBYFR|50.62|            Georgia|
| (11) Amber ANNINGJR|50.68|           Arkansas|
|      — Wilson {2}SO|50.69|           Arkansas|
|(12) Courtney OKO...|50.69|              Texas|
|       — Okolo {2}SR|50.69|              Texas|
|(13) Alexis HOLMESJR|50.77|           Kentucky|
|       — Diggs {3}SO|50.79|            Florida|
+--------------------+-----+-------------------+
only showing top 20 rows

In [21]:
resultfour = spark.sql("SELECT * FROM IndoorMens400m")
resultfour.show()

+--------------------+-----+--------------------+
|               Names|Times|             Schools|
+--------------------+-----+--------------------+
|(1) Michael NORMANSO|44.52| Southern California|
|(2) Kerron CLEMENTSO|44.57|             Florida|
| (3) Randolph ROSSJR|44.62|  North Carolina A&T|
| (4) Noah WILLIAMSJR|44.71|                 LSU|
|  (5) Elija GODWINSR|44.75|             Georgia|
|      — Godwin {2}SR|44.75|             Georgia|
|  (6) Kirani JAMESSO| 44.8|             Alabama|
|(7) Tyrell RICHARDSR|44.82|South Carolina State|
|        — Ross {2}JR|44.83|  North Carolina A&T|
|   (8) Fred KERLEYSR|44.85|           Texas A&M|
|(9) Akeem BLOOMFI...|44.86|              Auburn|
|  (10) Ryan WILLIEJR|44.93|             Florida|
|(10) LaShawn MERRITT|44.93|       East Carolina|
|        — Ross {3}SO|44.99|  North Carolina A&T|
|      — Norman {2}SO| 45.0| Southern California|
|  — Bloomfield {2}SO|45.02|              Auburn|
|      — Kerley {2}SR|45.02|           Texas A&M|
|(12) Kahmari MONT...|45.03|             Houston|
| (12) Deon LENDOREJR|45.03|           Texas A&M|
|(12) Torrin LAWRE...|45.03|             Georgia|
+--------------------+-----+--------------------+
only showing top 20 rows

## Query One (Mens Times)

In [ ]:
QueryOneA = spark.sql("SELECT Times, COUNT(*) as count FROM Mens400m GROUP BY Times ORDER BY count DESC")
QueryOneA.show()

In [ ]:
QueryOneB = spark.sql("SELECT Times, COUNT(*) as count FROM IndoorMens400m GROUP BY Times ORDER BY count DESC")
QueryOneB.show()

## Query Two (Womens Times)

In [ ]:
QueryTwoA = spark.sql("SELECT Times, COUNT(*) as count FROM Womens400m GROUP BY Times ORDER BY count DESC")
QueryTwoA.show()

In [ ]:
QueryTwoB = spark.sql("SELECT Times, COUNT(*) as count FROM IndoorWomens400m GROUP BY Times ORDER BY count DESC")
QueryTwoB.show()

## Query Three (Mens Schools)

In [ ]:
QueryThreeA = spark.sql("SELECT Schools, COUNT(*) as count FROM IndoorMens400m GROUP BY Schools ORDER BY count DESC")
QueryThreeA.show()

In [ ]:
QueryThreeB = spark.sql("SELECT Schools, COUNT(*) as count FROM Mens400m GROUP BY Schools ORDER BY count DESC")
QueryThreeB.show()

## Query Four (Womens Schools)

In [ ]:
QueryFourA = spark.sql("SELECT Schools, COUNT(*) as count FROM Womens400m GROUP BY Schools ORDER BY count DESC")
QueryFourA.show()

In [ ]:
QueryFourB = spark.sql("SELECT Schools, COUNT(*) as count FROM IndoorWomens400m GROUP BY Schools ORDER BY count DESC")
QueryFourB.show()

## Query Five (Womens Times Percentages)

In [ ]:
QueryFiveA = spark.sql("SELECT Times, COUNT(*) as count, (COUNT(*) / (SELECT COUNT(*) FROM Womens400m)) * 100 as percentage FROM Womens400m GROUP BY Times")
QueryFiveA.show()

In [ ]:
QueryFiveB = spark.sql("SELECT Times, COUNT(*) as count, (COUNT(*) / (SELECT COUNT(*) FROM IndoorWomens400m)) * 100 as percentage FROM IndoorWomens400m GROUP BY Times")
QueryFiveB.show()

## Query Five (Mens Schools)

In [ ]:
QuerySixA = spark.sql("SELECT Times, COUNT(*) as count, (COUNT(*) / (SELECT COUNT(*) FROM Mens400m)) * 100 as percentage FROM Mens400m GROUP BY Times")
QuerySixA.show()

In [ ]:
QuerySixB = spark.sql("SELECT Times, COUNT(*) as count, (COUNT(*) / (SELECT COUNT(*) FROM IndoorMens400m)) * 100 as percentage FROM IndoorMens400m GROUP BY Times")
QuerySixB.show()

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
## Import DataFrames

In [ ]:
Mens400mDF = pd.read_csv('OutdoorMens400m.csv')
Mens400mDF

In [ ]:
Womens400mDF = pd.read_csv('OutdoorWomens400m.csv')
Womens400mDF

In [ ]:
IndoorMens400mDF = pd.read_csv('IndoorMens400m.csv')
IndoorMens400mDF

In [ ]:
IndoorWomens400mDF = pd.read_csv('IndoorWomens400m.csv')
IndoorWomens400mDF

## Create a histogram using Seaborn

In [ ]:

column_name = "Times"
sns.histplot(Mens400mDF[column_name], bins=20, kde=True, color='skyblue', edgecolor='black')

# Add labels and title
plt.xlabel(column_name)
plt.ylabel('Frequency')
plt.title(f'Distribution of {column_name}')

# Show the plot
plt.show()

In [ ]:
# Create a histogram using Seaborn
column_name = "Times"
sns.histplot(Womens400mDF[column_name], bins=20, kde=True, color='red', edgecolor='black')

# Add labels and title
plt.xlabel(column_name)
plt.ylabel('Frequency')
plt.title(f'Distribution of {column_name}')

# Show the plot
plt.show()

In [ ]:
# Create a histogram using Seaborn
column_name = "Times"
sns.histplot(IndoorMens400mDF[column_name], bins=20, kde=True, color='darkblue', edgecolor='black')

# Add labels and title
plt.xlabel(column_name)
plt.ylabel('Frequency')
plt.title(f'Distribution of {column_name}')

# Show the plot
plt.show()

In [ ]:
# Create a histogram using Seaborn
column_name = "Times"
sns.histplot(IndoorWomens400mDF[column_name], bins=20, kde=True, color='green', edgecolor='black')

# Add labels and title
plt.xlabel(column_name)
plt.ylabel('Frequency')
plt.title(f'Distribution of {column_name}')

# Show the plot
plt.show()