In [1]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
from pyspark.sql.functions import desc
from pyspark.sql.functions import asc
import findspark
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
import pandas as pd
findspark.init()

In [2]:
spark = SparkSession.builder.appName('Pro300M').enableHiveSupport().getOrCreate()

In [3]:
ProMens300m = spark.read.format('csv').option('inferSchema','true').option('header','true').option('path','Mens300m.csv').load()

In [4]:
ProWomens300m = spark.read.format('csv').option('inferSchema','true').option('header','true').option('path','Womens300m.csv').load()

In [6]:
ProMens300m.createOrReplaceTempView("ProMens300m")

In [7]:
ProWomens300m.createOrReplaceTempView("ProWomens300m")

In [8]:
resultOne = spark.sql("SELECT * FROM ProMens300m")
resultOne.show()

+--------+------+-------+-----------------+--------------------+---------+----------+
|RANKINGS| TIMES|COUNTRY|          ATHLETE|            LOCATION|BIRTHYEAR| YEAROFRUN|
+--------+------+-------+-----------------+--------------------+---------+----------+
|       1| 30.81|    RSA| Wayde vanNiekerk|             Ostrava| 15.07.92|28.06.2017|
|       2|30.85A|    USA|  Michael Johnson|            Pretoria| 13.09.67|24.03.2000|
|       3| 30.97|    JAM|       Usain Bolt|             Ostrava| 21.08.86|27.05.2010|
|       4| 31.03|    RSA| Wayde vanNiekerk|            Kingston| 15.07.92|11.06.2016|
|       5| 31.23|    USA|  LaShawn Merritt|            Kingston| 27.06.86|11.06.2016|
|       6| 31.30|    USA|  LaShawn Merritt|              Eugene| 27.06.86|07.06.2009|
|       7| 31.31|    USA|  LaShawn Merritt|              Eugene| 27.06.86|08.08.2006|
|       8| 31.44|    BOT|    Isaac Makwala|             Ostrava| 24.09.85|28.06.2017|
|       9| 31.48|    USA|    Danny Everett|Jerez de la Frontera| 01.11.66|03.09.1990|
|       9| 31.48|    CUB|Roberto Hernández|Jerez de la Frontera| 06.03.67|03.09.1990|
|      11| 31.52|    BAH|  Steven Gardiner|               Ponce| 12.09.95|12.05.2022|
|      11|31.52A|    BOT|   Letsile Tebogo|            Pretoria| 07.06.03|18.02.2023|
|      13| 31.53|    USA|  LaShawn Merritt|             Atlanta| 27.06.86|01.08.2015|
|      14| 31.56|    USA|  Michael Johnson|           Salamanca| 13.09.67|22.07.1994|
|      14| 31.56|    GBR|      Doug Walker|           Gateshead| 28.07.73|19.07.1998|
|      16| 31.59|    BAH|  Steven Gardiner|            Carolina| 12.09.95|17.03.2023|
|      17| 31.61|    USA|  Anthuan Maybank|              Durham| 30.12.69|13.07.1996|
|      17| 31.61|    RSA|   ClarenceMunyai|             Ostrava| 20.02.98|28.06.2017|
|      19| 31.63|    RSA| Wayde vanNiekerk|          Birmingham| 15.07.92|07.06.2015|
|      20| 31.64|    USA|      Tony McQuay|            Kingston| 16.04.90|11.06.2016|
+--------+------+-------+-----------------+--------------------+---------+----------+
only showing top 20 rows

In [9]:
resultTwo = spark.sql("SELECT * FROM ProWomens300m")
resultTwo.show()

+--------+------+-------+--------------------+---------------+---------+----------+
|RANKINGS| TIMES|COUNTRY|             ATHLETE|       LOCATION|BIRTHYEAR| YEAROFRUN|
+--------+------+-------+--------------------+---------------+---------+----------+
|       1| 34.41|    BAH| Shaunae Miller-Uibo|        Ostrava| 15.04.94|20.06.2019|
|       2|34.60A|    NAM|   BeatriceMasilingi|       Pretoria| 10.04.03|18.02.2023|
|       3| 35.16|    DOM|    MarileidyPaulino|       Carolina| 25.10.96|17.03.2023|
|       4|35.30A|    MEX|         Ana Guevara|Ciudadde México| 04.03.77|03.05.2003|
|       5| 35.46|    GBR|          Kathy Cook|         London| 03.05.60|18.08.1984|
|       5| 35.46|    USA|Chandra Cheesebor...|         London| 10.01.59|18.08.1984|
|       7| 35.51|    GBR|          Kathy Cook|         London| 03.05.60|09.09.1983|
|       8| 35.70|    POL|     Irena Szewinska|         London| 24.05.46|04.07.1975|
|       8| 35.70|    SUI|        Léa Sprunger|     Langenthal| 05.03.90|25.05.2017|
|      10| 35.71|    GBR|        Donna Fraser|      Gateshead| 07.11.72|28.08.2000|
|      11| 35.74|    USA|       CourtneyOkolo|        Houston| 15.03.94|23.07.2016|
|      12| 35.81|    GER|         Silke Knoll|           Olpe| 21.02.67|19.05.1990|
|      13| 35.82|    CAY|  Cydonie Mothersill|         Sydney| 19.03.78|14.09.2000|
|      14| 35.91|    USA|       BrittanyBrown|        Ostrava| 18.04.95|20.06.2019|
|      15| 35.92|    MEX|         Ana Guevara|      Gateshead| 04.03.77|19.08.2001|
|      16| 35.99|    JAM|       Merlene Ottey|         London| 10.05.60|18.08.1984|
|      17| 36.00|    GBR|      KatharineMerry|      Gateshead| 21.09.74|28.08.2000|
|      17| 36.00|    USA|    LaTasha Colander|      Gateshead| 23.08.76|28.08.2000|
|      19| 36.01|    GBR|       MichelleScutt|         London| 17.06.60|13.07.1980|
|      20| 36.07|    USA|   Jearl Miles-Clark|         Sydney| 04.09.66|14.09.2000|
+--------+------+-------+--------------------+---------------+---------+----------+
only showing top 20 rows